*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.clearfix:before,.clearfix:after{
	content: '';
	display: table;
}  
.clearfix:after{
   	clear: both;	
}

/*header*/
header{
	height: 4.4rem;
	width: 100%;
	background:#ff8931;
	padding: 0rem 1.5rem;
	box-sizing: border-box;
	position: relative;
}
.back{
	float: left;
	position: absolute;
	top: 50%;
	margin-top: -0.65rem;
}
header p{
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	line-height: 4.4rem;
}


/*内容*/
.content{
	width: 100%;
	height: 100%;
	padding: 9.5rem 2.35rem 0rem 2.35rem;
	box-sizing: border-box;
}

/*输入框*/
.input-zhanghu{
	width: 100%;
	height: 3.4rem;
	border: 0.05rem solid #888888;
	margin-bottom: 2.25rem;
	box-sizing: border-box;
	padding-left: 3.5rem;
	padding-top: 0.05rem;
	background: url(../img/zhanghu.png) no-repeat 1.5rem 0.8rem;
	background-size: 1.5rem 1.7rem;
}
.input-zhanghu:nth-of-type(2){
	background: url(../img/password.png) no-repeat 1.5rem 0.8rem;
	background-size: 1.5rem 1.7rem;
	margin-bottom: 0.5rem;
}

.input-zhanghu input{
	float: left;
	margin-left: 0.75rem;
	width: 17.3rem;
	height: 3.2rem;
	font-size: 1.3rem;
	border: 0px;
}
input{
	outline: none;
}
.input-zhanghu input::-webkit-input-placeholder{
	color:#888888;
}


/*忘记密码*/
.forget-password{
	text-align: right;
}
.forget-password a{
	color: #888888;
}


/*登录*/
button{
	width: 100%;
	height: 3.5rem;
	background: #FFFFFF;
	outline: none;
	border: 1px solid #FF8931;
	color: #FF8931;
	font-size: 1.7rem;
}
.Login{
	margin-top: 4.5rem;
}
.register{
	margin-top: 1.75rem;
}
