*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.clearfix:before,.clearfix:after{
	content: '';
	display: table;
}  
.clearfix:after{
   	clear: both;	
}

/*header*/
header{
	height: 4.4rem;
	width: 100%;
	background:#ff8931;
	padding: 0rem 1.5rem;
	box-sizing: border-box;
	position: relative;
}
.back{
	float: left;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
}
header span{
	float: right;
	color: #fff;
	font-size: 1.3rem;
	line-height: 4.4rem;
}
header p{
	position: absolute;
	width: 5rem;
	left: 50%;
	margin-left: -2.5rem;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	line-height: 4.4rem;
}
