body,  div,  p { margin: 0; padding: 0;}
ul { list-style: none;}
html { overflow: hidden;}
body { width: 100%;  *cursor: default;
overflow: hidden; font: 16px/1.5 "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;}
#pageContain { overflow: hidden;}
.page { display: none; width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0;}
.contain { width: 100%; height: 100%; display: none; position: relative; z-index: 0;}
.current .contain, .slide .contain { display: block;}
.current { display: block; z-index: 1;}
.slide { display: block; z-index: 2;}
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}
.txt { margin-top: 20%; font-size: 50px; color: #fff; text-align: center;}



.page1 { background:url(../img/one-back.jpg) no-repeat;background-size: 100% 100%;}
.one-tit{
	width: 67%;
	height: 9%;
	position: absolute;
	top: 18%;
	left: 50%;
	margin-left: -33%;
	animation:onetit 2s linear forwards;
}
@keyframes onetit
{
	0%{top: -27%;}
	25%{top: 18%;}
	40%{top: 10%;}
	55%{top: 18%;}
	65%{top: 13%;}
	75%{top: 18%;}
	85%{top: 15%;}
	92%{top: 18%;}
	97%{top: 17%;}
	100%{top: 18%;}
}

.one-p{
	position: absolute;
	width: 45%;
	height: 3.5%;
	top: 34%;
}
.one-p-c{
	position: absolute;
	width: 45%;
	height: 4.5%;
}

.one-p2{
	top: 37%;
}
.one-p3{
	top: 41%;
}
.one-p4{
	top: 45%;
}
.one-p5{
	top: 49%;
}
.one-p6{
	top: 53%;
}
.one-p1,.one-p3,.one-p5{
	left: 50%;
	margin-left: -33%;
	animation: onep1 2s;
}
.one-p2,.one-p4,.one-p6{
	right: 50%;
	margin-right: -12%;
	animation: onep2 2s;
}
@keyframes onep1
{
	0%{left: -62%;}
}
@keyframes onep2
{
	0%{right: -57%;}
}

.page2 { background: url(../img/two-back.jpg) no-repeat;background-size: 100% 100%}
.two-tit-top{
	width: 15%;
	height: 15%;
	overflow: hidden;
	position: absolute;
	top: 5%;
	right: 10%;
	animation:twotit1 2s;
}
.two-tit-top img{
	width: 100%;
}
.two-tit-bottom{
	width: 15%;
	height: 15%;
	overflow: hidden;
	position: absolute;
	top: 20%;
	right: 10%;
	animation:twotit2 2s;
}
.two-tit-bottom img{
	width: 100%; 
	position: absolute;
	bottom: 0%;
}

.two-p1{
	width: 17%;
	height: 22%;
	position: absolute;
	left: 10%;
	bottom: 37%;
	overflow: hidden;
	animation:twop1 2s;
}
.two-p1 img{
	width: 100%;
	position: absolute;
	top: 0%;

}
.two-p2{
	width: 17%;
	height: 22%;
	position: absolute;
	overflow: hidden;
	left: 10%;
	bottom: 17%;
	animation:twop2 2s;
}
.two-p2 img{
	width: 100%; 
	position: absolute;
	bottom: 0%;
}
@keyframes twotit1{
	0%{height: 0%;top: 20%;}
}
@keyframes twotit2
{
	0%{height: 0%;}
}
@keyframes twop1{
	0%{height: 0%;bottom: 59%;}
}
@keyframes twop2
{
	0%{height: 0%;}

}

.page3 { background: url(../img/three-back.jpg) no-repeat;background-size: 100% 100%;}
.three-tit{
	width: 36%;
	position: absolute;
	bottom: -50%;
	left: 50%;
	margin-left: -16%;
	animation:threetit 1s 0.5s forwards;
}
.threep{
	width: 0%;
	height:0%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	bottom: 15%;
	left: 50%;
	margin-left: 0%;
	animation:threep 1s 1s forwards;
}
.three-p{
	width: 80%;
	position: absolute;
	top: 50%;
	margin-top: -20%;
	left: 50%;
	margin-left: -37%;
}

.three-box{
	width: 50%;
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -23%;
	animation:threebox 1s linear;
}
@keyframes threetit
{
	100%{bottom: 23%;}
}
@keyframes threep
{
	100%{width: 50%;height: 27%;bottom: 1%;margin-left: -23%;}
}

@keyframes threebox
{
	0%{left: -77%;transform:rotate(360deg); }
}

.page4 { background: url(../img/four-back.jpg) no-repeat;background-size: 100% 100%;}
.four-tit{
	width: 37%;
	height: 6%;
	position: absolute;
	top: 10%;
	left: -37%;
	animation:fourtit 2s 1s forwards;
}
.fourp{
	width: 27%;
	height: 0%;
	overflow: hidden;
	position: absolute;
	top: 16%;
	left: 12%;
	animation:fourp 2s 1.5s forwards;
}
.four-p{
	width: 100%;
}
@keyframes fourtit
{
	0%{left: -45%;}
	33%{left: 15%;}
	66%{left: 3%;}
	100%{left: 8%;}
}
@keyframes fourp
{
	100%{height: 40%;}
}


.page5 { background: url(../img/five-back.jpg) no-repeat;background-size: 100% 100%;}
.five-tit-left{
	width: 0%;
	height: 2.5%;
	position: absolute;
	top: 12%;
	left: 11%;
	animation:fivetitleft 1s 0.5s forwards;
}
@keyframes fivetitleft
{
	100%{width: 22%;}
}
.five-tit-right{
	width: 0%;
	height:2.5%;
	position: absolute;
	top: 12%;
	right: 11%;
	animation:fivetitright 1s 0.5s forwards;
}
@keyframes fivetitright
{
	100%{width: 22%;}
}
.five-tit{
	width: 30%;
	height: 6%;
	position: absolute;
	top: -6%;
	left: 50%;
	margin-left: -15%;
	animation:fivetit 1s 1s forwards;
}
@keyframes fivetit
{
	100%{top: 10%;}
}
.five-p{
	width: 28%;
	height: 0%;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -14%;
	animation:fivep 1s 1.5s forwards;
}
@keyframes fivep
{
	100%{height:15%; }
}
.five-px{
	width: 0.5%;
	height: 15%;
	position: absolute;
	top: 20%;
}
.sx1{
	left: -1%;
	animation:sx1 1s 1.5s forwards;
}
@keyframes sx1{
	100%{left: 34%;transform:rotate(180deg);}
}
.sx2{
	left: -1%;
	animation:sx2 1s 1.5s forwards;
}
@keyframes sx2{
	100%{left: 42%;transform:rotate(180deg);}
}
.sx3{
	right: -1%;
	animation:sx3 1s 1.5s forwards;
}
@keyframes sx3{
	100%{right: 42%;transform:rotate(180deg);}
}
.sx4{
	right: -1%;
	animation:sx4 1s 1.5s forwards;
}
@keyframes sx4{
	100%{right: 34%;transform:rotate(180deg);}
}
.sx5{
	height: 0%;
	top: 27.5%;
	left: 50%;
	animation:sx5 1s 1.5s forwards;
}
@keyframes sx5{
	100%{height: 15%;top: 20%;}
}


.page6 { background: url(../img/six-back.jpg) no-repeat;background-size: 100% 100%;}
.six-tit{
	width: 15%;
	height: 25%;
	position: absolute;
	top: 8%;
	right: -15%;
	animation:sixtit 1s 0.8s forwards;
}
@keyframes sixtit{
	100%{right: 32%;}
}
.six-p{
	width: 17%;
	height: 15%;
	position: absolute;
	top: 18%;
	right: 9%;
	opacity:0;
	animation:sixp 3s 1s forwards;
}
@keyframes sixp{
	0%{opacity: 0;}
    100%{opacity: 1;}
}


.page7 { background: url(../img/seven-back.jpg) no-repeat;background-size: 100% 100%;}
.seven-con-back{
	width: 52%;
	height: 23%;
	position: absolute;
	bottom: 23%;
	opacity: 0;
	animation:seven-con-back 3s 1s forwards;
}
@keyframes seven-con-back
{
	0%{opacity: 0;}
    100%{opacity: 1;}
}
.seven-tit-lf{
	width: 23%;
	height: 6%;
	opacity: 0;
	position: absolute;
	/*top: 55%;*/
	top: 40%;
	/*right: 74%;*/
	right:48%; 
	animation:seven-tit-lf 2s 1s forwards;
}
@keyframes seven-tit-lf
{
	0%{opacity: 0;}
	100%{opacity: 1;top: 55%;right: 74%;}
}
.seven-tit-ri{
	width: 23%;
	height: 6%;
	opacity: 0;
	position: absolute;
	/*left: 27%;*/
	left: 2%;
	/*bottom: 39%;*/
	bottom: 24%;
	animation:seven-tit-ri 2s 1s forwards;
}
@keyframes seven-tit-ri
{
	0%{opacity: 0;}
	100%{opacity: 1;bottom: 39%;left: 27%;}
}
.seven-tit-lf img{
	width: 100%;
}
.seven-tit-ri img{
	width: 100%;
}
.seven-p1{
	width: 0%;
	height: 4%;
	position: absolute;
	bottom: 33%;
	left: 25%;
	animation:seven-p1 1s 2s forwards;
}
@keyframes seven-p1
{
	100%{left: 5%;width: 42%;}
}
.seven-p2{
	width: 0%;
	height: 6%;
	position: absolute;
	bottom: 28%;
	left: 25%;
	animation:seven-p2 1s 2.3s forwards;
}
@keyframes seven-p2
{
	100%{left: 5%;width: 42%;}
}
.seven-p3{
	width: 0%;
	height: 4%;
	position: absolute;
	bottom: 25%;
	left: 25%;
	animation:seven-p3 1s 2.6s forwards;
}
@keyframes seven-p3
{
	100%{left: 5%;width: 42%;}
}


.page8 { background: url(../img/eight-back.jpg) no-repeat;background-size: 100% 100%;}
.eight-tit{
	width: 60%;
	height: 6%;
	position: absolute;
	bottom: 18%;
	left: 50%;
	margin-left: -25%;
	transform: rotateX(-90deg);
	animation:eight-tit 1.5s 1s forwards;
}
@keyframes eight-tit
{
	100%{transform:rotateX(0deg); }
}

.eight-p1{
	width: 15%;
	height: 15%;
	position: absolute;
	bottom: 2%;
	left: 50%;
	margin-left: -65%;
	animation:eight-p1 1s 1.5s forwards;
}
@keyframes eight-p1
{
	100%{margin-left: -12%;}
}
.eight-p2{
	width: 15%;
	height: 15%;
	position: absolute;
	bottom: 2%;
	right: 50%;
	margin-right: -65%;
	animation:eight-p2 1s 1.5s forwards;
}
@keyframes eight-p2
{
	100%{margin-right: -19%;}
}


.page9 { background: url(../img/nine-back.jpg) no-repeat;background-size: 100% 100%;}
.nine-tit1{
	width: 23%;
	height: 5%;
	position: absolute;
	top: 68%;
	right: -23%;
/*	top: 45%;
	right: -23%;*/
	animation:nine-tit1 2s 1s linear forwards;
}
@keyframes nine-tit1
{
	0%{top:45%;right: -23%;}
	50%{top: 68%;right: 27%;}
	75%{top: 60%;right: 35%;}
	85%{top: 68%;right: 43%;}
	93%{top: 65%;right: 47%;}
	100%{top: 68%;right: 50%;}
}
.nine-tit2{
	width: 23%;
	height: 5%;
	position: absolute;
	top: 68%;
	left: -23%;
	animation:nine-tit2 2s 1s linear forwards;
}
@keyframes nine-tit2
{
	0%{top:45%;left: -23%;}
	50%{top: 68%;left: 27%;}
	75%{top: 60%;left: 35%;}
	85%{top: 68%;left: 43%;}
	93%{top: 65%;left: 47%;}
	100%{top: 68%;left: 50%;}
}

.nine-p{
	width: 0%;
	height: 8%;
	position: absolute;
	bottom: 15%;
	left: 50%;
	margin-left: 0%;
	animation:nine-p 1.5s 2s forwards;
}
@keyframes nine-p
{
	100%{width: 32%;margin-left: -17%;}
}


.page10 { background: url(../img/ten-back.jpg) no-repeat;background-size: 100% 100%;}
.ten-tit{
	width: 35%;
	height: 6%;
	position: absolute;
	top: -6%;
	left: 50%;
	margin-left: -17%;
	animation:ten-tit 1.5s 1s forwards;
}
@keyframes ten-tit
{
	100%{top: 25%;}
}
.ten-p{
	/*width: 35%;*/
	width: 0%;
	height: 6%;
	position: absolute;
	top: 40%;
	left:50%;
	/*margin-left: -17%;*/
	margin-left: 0%;
	animation:ten-p 1s 2s forwards;
}
@keyframes ten-p
{
	100%{margin-left: -17%;width: 35%;}
}
.ten-box{
	width: 3%;
	height: 16%;
	position: absolute;
	top: 28%;
}
.ten-box1{
	left: 50%;
	/*margin-left: -22%;*/
	margin-left: -53%;
	animation:ten-box1 1s 2s forwards;
}
@keyframes ten-box1
{
	100%{margin-left: -22%;}
}
.ten-box2{
	right: 50%;
	/*margin-right: -23%;*/
	margin-right: -53%;
	animation:ten-box2 1s 2s forwards;
}
@keyframes ten-box2
{
	100%{margin-right: -23%;}
}



.page11 { background: url(../img/eleven-back.jpg) no-repeat;background-size: 100% 100%;}

.eleven-tit{
	width: 50%;
	height: 5%;
	position: absolute;
	bottom: 43%;
	left: 50%;
	margin-left: -25%;
	opacity: 0;
	animation:eleven-tit 2s 1s forwards;
}
@keyframes eleven-tit
{
	100%{opacity: 1;}
}
.eleven-img{
	/*width: 77%;*/
	width: 0%;
	height: 18%;
	position: absolute;
	bottom: 28%;
	left: 50%;
	/*margin-left: -39%;*/
	margin-left: 0%;
	animation:eleven-img 1s 1.5s forwards;
}
@keyframes eleven-img
{
	100%{margin-left: -39%;width: 77%;}
}
.eleven-p{
	width: 24%;
	height: 3%;
	position: absolute;
	bottom: 24%;
}
.eleven-p1{
	left: 50%;
	/*margin-left:-28%;*/
	margin-left: -74%;
	animation:eleven-p1 1s 2s forwards;
}
@keyframes eleven-p1
{
	100%{margin-left: -28%;}
}
.eleven-spot{
	width: 5%;
	height: 3%;
	position: absolute;
	bottom: 24%;
	left: 50%;
	margin-left: -3%;
	opacity: 0;
	animation:spot 2s 2.5s forwards;
}
@keyframes spot
{
	100%{opacity: 1;}
}
.eleven-p2{
	right: 50%;
	/*margin-right: -26%;*/
	margin-right: -76%;
	animation:eleven-p2 1s 2s forwards;
}
@keyframes eleven-p2
{
	100%{margin-right: -26%;}
}


.page12 { background: url(../img/twelve-back.jpg) no-repeat;background-size: 100% 100%;}

.twelve{
	width: 20%;
	height: 5%;
	position: absolute;
	bottom: 37%;
}
.twelve-tit1{
	left: 50%;
	/*margin-left: -20%;*/
	margin-left: -70%;
	animation:twelve-tit1 1s 1s forwards;
}
@keyframes twelve-tit1
{
	100%{margin-left: -20%;}
}
.twelve-tit2{
	right: 50%;
	/*margin-right: -20%;*/
	margin-right: -70%;
	animation:twelve-tit2 1s 1s forwards;
}
@keyframes twelve-tit2
{
	100%{margin-right: -20%;}
}
.line{
	height: 0.3%;
	position: absolute;
}
.twelve-line1{
	/*width: 42%;*/
	width: 0%;
	bottom: 36%;
	left: 50%;
	/*margin-left: -21%;*/
	margin-left: 0%;
	animation:twelve-line1 1s 1.5s forwards;
}
@keyframes twelve-line1
{
	100%{width: 42%;margin-left: -21%;}
}
.twelve-line2{
	/*width: 56%;*/
	width: 0%;
	bottom: 30.5%;
	left: 50%;
	/*margin-left: -28%;*/
	margin-left: 0%;
	animation:twelve-line2 1s 1.5s forwards;
}
@keyframes twelve-line2
{
	100%{width: 56%;margin-left: -28%;}
}
.twelve-p{
	width: 54%;
	height: 2%;
	position: absolute;
	bottom: 32%;
	left: 50%;
	margin-left: -27%;
	opacity: 0;
	animation:twelve-p 2s 1.5s forwards;
}
@keyframes twelve-p
{
	100%{opacity: 1;}
}



.page13 { background: url(../img/thirteen-back.jpg) no-repeat;background-size: 100% 100%;}

.thirteen-tit{
	width: 32%;
	height: 6%;
	position: absolute;
	bottom: 24%;
	/*left: 18%;*/
	left: -50%;
	animation:thirteen-tit 2s 1s forwards;
}
@keyframes thirteen-tit
{
	0%{left: -50%;}
	60%{left: 28%;}
	85%{left: 13%;}
	100%{left: 18%;}
}
.thirteen-p-back{
	width: 56%;
	height: 4%;
	position: absolute;
	bottom: 17.5%;
	left: 6%;
	opacity: 0;
	animation:thirteen-p 2s 2s forwards;
}
.thirteen-p{
	width: 43%;
	height: 3%;
	position: absolute;
	bottom: 18%;
	left: 13%;
	opacity: 0;
	animation:thirteen-p 2s 2s forwards;
}
@keyframes thirteen-p
{
	100%{opacity: 1;}
}


.page14 { background: url(../img/fourteen-back.jpg) no-repeat;background-size: 100% 100%;}

.fourteen-tit{
	width: 50%;
	height: 10%;
	position: absolute;
	bottom: 40%;
	left: 50%;
	margin-left: -25%;
	opacity: 0;
	animation:fourteen-tit 2s 1s forwards;
}
@keyframes fourteen-tit
{
	100%{opacity: 1;}
}
.fourteen{
	/*width: 60%;*/
	width: 0%;
	height: 4%;
	position: absolute;
	bottom: 33.5%;
	left: 50%;
	overflow: hidden;
	margin-left: -29%;
	animation:fourteen 1s 1.5s forwards;
}
@keyframes fourteen
{
	100%{width: 60%;}
}
.fourteen-p{
	height: 100%;	
}