*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.index{
	width: 1920px;
	height: 100%;
}
html,body{
	width: 100%;
	height: 100%;
}
.inner{
	width: 1280px;
	margin: 0 auto;
}
.clearfix:before,.clearfix:after{
	content: '';
	display: table;
}  
.clearfix:after{
   	clear: both;
} 

/*顶部*/
.tit-box{
	width: 1920px;
	background: #efefef;
}
.top-tit{
	height: 37px;
	line-height: 37px;
}
.top-tit p{
	float: left;
	color: #505050;
	font-size: 14px;
	font-family: "宋体";
}
.top-tit ul{
	float: right;
	padding-right: 20px;
}
.top-tit ul li{
	float: left;
	height: 37px;
}
.top-tit ul li a{
	margin: 0 5px;
	color: #505050;
	font-size: 12px;
	font-family: "宋体";
}
.top-tit ul li:first-child a{
	color: #ff5200;
}
.top-tit ul li:hover a{
	color: #ff5200;
}

/*log*/
.top{
	height: 108px;
}
.log-box{
	width: 1920px;
}
.log{
	float: left;
}
.sousuokuang{
	float: right;
	margin-right: 5px;
	text-align: right;
}
.gouwuce{
	width: 140px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	position: relative;
	background: #e2e2e2;
	margin-top: 20px;
	display: inline-block;
}
.gouwuce img{
	float: left;
	padding-top: 2px;
	margin-right: 20px;
}
.gouwuce p{
	float: right;
	padding-right: 9px;
	color: #ff5200;
	font-size: 13px;
}

.sousuo{
	height: 34px;
	line-height: 34px;
	border: 5px solid #FF5200;
	margin-top: 14px;
}
.sousuo input{
	float: left;
	width: 423px;
	height: 34px;
	outline: none;
	border: 0px;
}
.sousuo button{
	float: right;
	width: 72px;
	height: 35px;
	border: 0px;
	outline: none;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: #FF5200;
}

/*nav*/

.nav ul li{
	float: left;
	width: 107px;
	position: relative;
}
.nav ul li>a{
	display: block;
	color: #FF5200;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}
.nav>ul>li:first-child>a{
	color: #fff;
	background: #FF5200;
}
.nav>ul>li:hover>a{
	color: #fff;
	background: #FF5200;
}




/*下拉*/
.nav ul li ul{
	display: none;
	position: absolute;
}
.nav ul li:hover ul{
	display: block;
}
.nav ul li ul li a{
	color: #fff;
	font-size: 16px;
}
.nav ul li ul li{
	background: #bfbfbf;
	margin-bottom: 1px;
}
.nav ul li ul li:hover a{
	color: #ff5200;
}

/*轮播*/
.lunbo{
	width: 1920px;
	height: 603px;
}


/*您找车   我帮忙*/
.bangmang{
	width: 1920px;
	height: 396px;
	background: url(../img/bangmang.png) no-repeat center;
	background-size: 100% 100%;
	padding-top: 60px;
}
.tijiao{
	float: right;
	width: 596px;
	height: 355px;
	background: #f8f8f9;
	margin-right: 25px;
}
.tijiao-tit{
	height: 25px;
	padding-top: 15px;
	padding-bottom: 25px;
}
.tijiao-tit p{
	float: left;
	margin-left: 25px;
	color: #FF5200;
	font-size: 18px;
}
.tijiao-tit span{
	float: right;
	margin-right: 20px;
	color: #afafaf;
	font-size: 14px;
}
.tijiao-con ul{
	padding: 0 20px 0 25px;
}
.tijiao-con ul li input::placeholder{
	  color: gainsboro;
}
.tijiao-con ul li{
	float: left;
	margin-right: 15px;
	margin-bottom: 30px;
}
.tijiao-con ul li input{
	width: 255px;
	height: 40px;
}
.tijiao-con ul li:last-child{
	margin-bottom: 0px;
}
.tijiao-con ul li:last-child input{
	width: 530px;
	height: 80px;
	margin-bottom: 10px;
}
.tijiaoanniu{
	text-align: center;
}
.tijiaoanniu button{
	width: 170px;
	height: 40px;
	border: 0px;
	outline: none;
	background: #FF5200;
	color: #fff;
	font-size: 20px;
}
/*内容区*/
.content{
	background: #efefef;
}

/*推荐区*/
.tupian{
	background: #fff;
}
.tupian ul li{
	float: left;
	width: 313px;
	height: 339px;
	margin: 0 5px;
}
.tupian ul li img{
	width: 313px;
	height: 339px;	
}
.tupian ul li:first-child{
	margin-left: 0px;
}
.tupian ul li:last-child{
	margin-right: 0px;
	margin-left: 3px;
}
.tupian{
	margin-bottom: 30px;
}

/*汽车*/
/*汽车tit*/
.qiche{
	width: 1280px;
}
.qiche-tit{
	background: #fff;
	height: 65px;
	line-height: 65px;
}
.qiche-tit p{
	color: #FF5200;
	font-size: 28px;
	float: left;
	margin-left: 15px;
}
.qiche-tit span{
	color: #000;
	font-size: 21px;
	font-family: "宋体";
	float: left;
	margin-left: 20px;
}
.qiche-tit ul{
	float: right;
}
.qiche-tit ul li{
	float: left;
	margin-right: 25px;
}
.qiche-tit ul li a{
	color: #7c7c7c;
	font-size: 18px;
}
.qiche-tit ul li a:hover{
	color: #FF5200;
}

/*汽车内容*/
.qiche-con{
	margin-top: 5px;
}
.qiche-con ul li{
	background: #fff;
	float: left;
	width: 309px;
	height: 397px;
	margin-right: 14px;
	margin-bottom: 5px;	
}
.qiche-con ul li:nth-of-type(4){
	margin-right: 0px;
	width: 310px;
}
.qiche-con ul li:nth-of-type(8){
	margin-right: 0px;
	width: 310px;
}
.qiche-con img{
	width: 309px;
	height: 249px;
}
.qiche-p{
	margin-left: 10px;
}
.qiche-p p:first-child{
	color: #000;
	font-size: 16px;
}
.qiche-p p:nth-of-type(2){
	color: #5f5f5f;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.qiche-p p:nth-of-type(3){
	width: 50%;
	color: #ff5200;
	font-size: 22px;
}
.qiche-xiaoliang{
	color: #6a6a6a;
	height: 15px;
	line-height: 15px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 20px;
}
.qiche-xiaoliang p{
	float: left;
	width: 75px;
	margin-right: 10px;
	border-right: 1px solid #6a6a6a;
}
.qiche-xiaoliang span{
	float: left;
}
.qiche-bottom{
	margin-top: 10px;
	padding-bottom: 30px;
}

/*摩托车*/
.jiage-left{
	margin-left: 10px;
	float: left;
}
.jiage-left p{
	color: #ff5200;
	font-size: 22px;
}
.jiage-right{
	float: right;
	margin-right: 10px;
}
.jiage-right span:first-child{
	color: #fff;
	font-size: 18px;
	background: #ff5200;
	border-radius: 3px;
}
.jiage-right span:last-child{
	color: #000;
	font-size: 19px;
}


/*优惠*/
.youhui-lunbo{
	width: 1280px;
	position: relative;
	background: #fff;
	border-top: 2px solid #a0a0a0;
	padding-bottom: 20px;
}
.youhui-lunbo ul{
	width: 1030px;
	margin-left: 130px;
	display: inline-block;
}

.youhui-lunbo ul li{
	background: #fff;
	float: left;
	width: 309px;
	height: 397px;
	margin:0 15px;
	border: 1px solid rgba(160,160,160,.5);
	box-shadow: 0px 5px 10px #a0a0a0;
}
.youhui-lunbo img{
	width: 309px;
	height: 249px;
}
.jiantou-left{
	height: 67px;
	float: left;
	position: absolute;
	top: 50%;
	margin-top:-33px;
	left: 40px;
	
}
.jiantou-right{
	height: 67px;
	float: right;
	position: absolute;
	top: 50%;
	margin-top:-33px;
	right: 40px;
}
.jiantou-right img{
	width: 38px;
	height: 67px;
}
.jiantou-left img{
	width: 38px;
	height: 67px;
}


.youhui-bottom{
	width: 1280px;
	margin-top: 20px;
}
.youhui-bottom-left{
	float: left;
	width: 588px;
	height: 160px;
	background: #fff;
	margin-left: 45px;
}
.youhui-bottom-right{
	float: right;
	width: 588px;
	height: 160px;
	background: #fff;
	margin-right: 45px;
}
.right-img{
	float: right;
}
.left-p{
	float: left;
	margin-left: 45px;
	margin-top: 50px;
}
.right-img img{
	margin-top: 15px;
	margin-right: 15px;
}

.left-p p{
	color: #5f5f5f;
	font-size: 18px;
	font-family: "宋体";
	font-weight: 800;
}
.left-p p:first-child{
	color: #f50000;
	font-size: 25px;
	margin-bottom: 5px;
}

/*footer*/
.footer{
	width: 1920px;
	background: #eaeaea;
	padding-top: 50px;
}
.footer-tit ul li{
	float: left;
	height: 45px;
	line-height: 45px;
}
.footer-tit ul li:nth-of-type(2){
	margin: 0 100px;
}
.foot-img{
	float: left;
}
.foot-p{
	float: left;
}
.foot-p p{
	float: left;
	color: #757574;
	font-weight: 700;
}
.foot-p p:first-child{
	color: #f5433d;
	margin-right: 30px;
	margin-left: 8px;
}
.footer-con{
	padding-left: 40px;
	margin-top: 40px;
}
.lianjie a{
	height: 18px;
	color: #111010;
	font-size: 16px;
	padding: 0 10px;
	border-right: 1px solid #000;
}
.lianjie-bottom{
	margin-top: 10px;
	padding-bottom: 15px;
}
.lianjie a:hover{
	color: #ff5200;
}

.foot-con-p p{
	margin-bottom: 18px;
	color: #2a2a2a;
	font-size: 14px;
	margin-left: 10px;
}

.footer-bottom{
	margin-top: 50px;
	text-align: center;
	color: #444343;
	font-size: 14px;
	padding-bottom: 35px;
}
.footer-bottom p{
	margin-bottom: 10px;
}

.footer-left{
	float: left;
}
.footer-right{
	float: right;
	width: 250px;
}
.footer-right p{
	color: #888888;
	font-size: 14px;
}
.footer-weixing{
	float: left;
	margin-right: 20px;
}
.footer-weixing img{
	margin-left: 5px;
}
.footer-dianhua{
	float: left;
	margin-right: 20px;
}
.footer-dianhua img{
	margin-left: 12px;
}
.footer-erweima{
	float: left;
}
.footer-erweima img{
	margin-left: 2px;
}


/*top  按钮*/
.top-anniu{
	display: inline-block;
	position:fixed;
	bottom: 125px;
	right: 205px;
}
