<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>淘厨汇</title>
    <!-- 首页 -->
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/swiper.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/swiper.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/rem.js"></script>
    <script src="./js/public.js"></script>
    <script src="./js/index.js"></script>
    
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
</head>
<body id="index">
    <header class="index_header">
        <p class="header_left">基地直播</p>
        <p class="header_cen">淘厨汇农业电商平台</p>
        <a class="header_right_a" href="./html_search/search.html"><img class="" src="./img/icon/search.png" alt=""></a>
    </header>

    
    <input type="text" name="" id="">
    <input type="text">
    <input id="registerTime" type="text">


    <!-- 内容 -->
    <div class="con" id="index_con">
        <!-- 轮播 -->
        <div class="banner">
            <div class="swiper-container banner_box">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="banner in banner_data">
                        <a class="banner_a" href="" v-cloak>
                            <img :src="['http://192.168.2.241:8089/Image/big'+banner.Image_Url]" alt="" v-cloak>
                        </a>
                    </div>
                </div>
                <!-- 小圆点 -->
                <div class="swiper-pagination index_circular"></div>
            </div>
        </div>

        <!-- 导航 -->
        <ul class="nav_ul">
            <li class="nav_li">
                <a href="javascript:;">
                    <div class="nav_div">
                        <img src="./img/icon/fresh.png" alt="">
                    </div>
                    <p class="nav_p">新鲜好货</p>
                </a>
            </li>
            <li class="nav_li">
                <a href="javascript:;">
                    <div class="nav_div">
                        <img src="./img/icon/Reserve.png" alt="">
                    </div>
                    <p class="nav_p">年货预定</p>
                </a>
            </li>
            <li class="nav_li">
                <a href="javascript:;">
                    <div class="nav_div">
                        <img src="./img/icon/Discount_Recommend.png" alt="">
                    </div>
                    <p class="nav_p">特惠推荐</p>
                </a>
            </li>
            <li class="nav_li">
                <a href="javascript:;">
                    <div class="nav_div">
                        <img src="./img/icon/Popularity_Recommend.png" alt="">
                    </div>
                    <p class="nav_p">人气推荐</p>
                </a>
            </li>
        </ul>

       
        <div class="interval"></div>
        <!-- 喇叭 -->
        <div class="horn_box">
            <img class="horn_img" src="./img/icon/horn.png" alt="">
            <div class="horn_con">
                <div class="swiper-container horn">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide horn_slide" v-for="notice in Notice" v-cloak>
                            <a class="horn_a" href="" v-cloak>{{notice.Create_AdminName}}</a>
                        </div>                    
                    </div>
                </div>
            </div>
            <a class="horn_details" href="javascript:;">详情</a>
        </div>

        <div class="interval"></div>

        <!-- 模块 -->
        <!-- 直播 -->
        <div class="modular">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">原生态基地直播</p>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多基地</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">

                <div class="list">
                    <!-- 页面地址没写 -->
                    <a class="list_a" href="">
                        <img class="list_img" src="./img/img/broadcast_img.jpg" alt="">
                        <p class="list_name"></p>
                        <p class="list_p"></p>
                        <!-- 标签 -->
                        <div class="list_label">直播中</div>
                    </a>
                </div>

            </div>
        </div>

        <div class="interval"></div>

        <!-- 限时预定 -->
        <div class="modular limit_time">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">限时预定</p>

                    <!-- 时间 -->
                    <div class="time">
                        <p class="time_p" v-cloak>{{data.Return_Data.RType_Num}}</p>
                        <p class="time_surplus"><span>00</span>:<span>36</span>:<span>42</span></p>
                    </div>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多预定</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">
                <ul class="year_list">
                    <li class="year_li" v-for="limit in data.Return_Data.Reservation_Info">
                        <a class="yaer_list_a" href="">
                            <div class="year_img">
                                <img :src="'http://192.168.2.241:8089/Image/big'+limit.Product_Info.Image_Url" alt="">
                            </div>
                            <p class="year_p">{{limit.Product_Info.Product_Name}}</p>
                            <div class="year_monye">
                                <span class="new_money">￥154</span>
                                <span class="old_money">￥254</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
          
        </div>

        <div class="interval"></div>


        <!-- 新鲜好货 -->
        <div class="modular fresh">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">新鲜好货</p>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多好货</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">
                <div class="swiper-container fresh_box">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <!-- <span class="old_money">￥254</span> -->
                                </div>
                            </a>
                            <!-- <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div> -->
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <!-- <span class="old_money">￥254</span> -->
                                </div>
                            </a>
                            <!-- <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div> -->
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <!-- <span class="old_money">￥254</span> -->
                                </div>
                            </a>
                            <!-- <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div> -->
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <!-- <span class="old_money">￥254</span> -->
                                </div>
                            </a>
                            <!-- <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div> -->
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <!-- <span class="old_money">￥254</span> -->
                                </div>
                            </a>
                            <!-- <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div> -->
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <!-- <span class="old_money">￥254</span> -->
                                </div>
                            </a>
                            <!-- <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="interval"></div>


        <!-- 人气推荐 -->
         <div class="modular">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">人气推荐</p>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多推荐</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">
                <!-- 每个商品 -->
                <div class="Recommend_shop">
                   <a class="Recommend_shop_a" href="">
                        <div class="Recommend_shop_left">
                            <img src="./img/img/broadcast_img.jpg" alt="">
                        </div>
                        <div class="Recommend_shop_right">
                            <p class="Recommend_shop_name">散养麻鸭土鸭子老水鸭</p>
                            <div class="Recommend_shop_p">
                                <p>正宗散养土鸭两年老鸭子</p>
                            </div>
                            <div class="recommend_money">
                                <span class="new_money">¥32.8</span>
                                <span class="old_money">￥254</span>
                            </div>
                            <!-- <img class="Recommend_shop_img json_shop_img" src="../img/icon/json_shop.png" alt=""> -->
                        </div>
                   </a>
                </div>

                 <!-- 每个商品 -->
                 <div class="Recommend_shop">
                    <a class="Recommend_shop_a" href="">
                        <div class="Recommend_shop_left">
                            <img src="./img/img/banner_img.png" alt="">
                        </div>
                        <div class="Recommend_shop_right">
                            <p class="Recommend_shop_name">散养麻鸭土鸭子老水鸭</p>
                            <div class="Recommend_shop_p">
                                <p>正宗散养土鸭两年老鸭子</p>
                            </div>
                            <div class="recommend_money">
                                <span class="new_money">¥32.8</span>
                                <span class="old_money">￥254</span>
                            </div>
                            <!-- <img class="Recommend_shop_img json_shop_img" src="../img/icon/json_shop.png" alt=""> -->
                        </div>
                    </a>
                </div>

                 <!-- 每个商品 -->
                 <div class="Recommend_shop">
                    <a class="Recommend_shop_a" href="">
                        <div class="Recommend_shop_left">
                            <img src="./img/img/recommend_img.jpg" alt="">
                        </div>
                        <div class="Recommend_shop_right">
                            <p class="Recommend_shop_name">散养麻鸭土鸭子老水鸭</p>
                            <div class="Recommend_shop_p">
                                <p>正宗散养土鸭两年老鸭子</p>
                            </div>
                            <div class="recommend_money">
                                <span class="new_money">¥32.8</span>
                                <span class="old_money">￥254</span>
                            </div>
                            <!-- <img class="Recommend_shop_img json_shop_img" src="../img/icon/json_shop.png" alt=""> -->
                        </div>
                    </a>
                </div>

                 <!-- 每个商品 -->
                 <div class="Recommend_shop">
                    <a class="Recommend_shop_a" href="">
                        <div class="Recommend_shop_left">
                            <img src="./img/img/recommend_img.jpg" alt="">
                        </div>
                        <div class="Recommend_shop_right">
                            <p class="Recommend_shop_name">散养麻鸭土鸭子老水鸭</p>
                            <div class="Recommend_shop_p">
                                <p>正宗散养土鸭两年老鸭子</p>
                            </div>
                            <div class="recommend_money">
                                <span class="new_money">¥32.8</span>
                                <span class="old_money">￥254</span>
                            </div>
                            <!-- <img class="Recommend_shop_img json_shop_img" src="../img/icon/json_shop.png" alt=""> -->
                        </div>
                    </a>
                </div>

                 <!-- 每个商品 -->
                 <div class="Recommend_shop">
                    <a class="Recommend_shop_a" href="">
                        <div class="Recommend_shop_left">
                            <img src="./img/img/recommend_img.jpg" alt="">
                        </div>
                        <div class="Recommend_shop_right">
                            <p class="Recommend_shop_name">散养麻鸭土鸭子老水鸭</p>
                            <div class="Recommend_shop_p">
                                <p>正宗散养土鸭两年老鸭子</p>
                            </div>
                            <div class="recommend_money">
                                <span class="new_money">¥32.8</span>
                                <span class="old_money">￥254</span>
                            </div>
                            <!-- <img class="Recommend_shop_img json_shop_img" src="../img/icon/json_shop.png" alt=""> -->
                        </div>
                    </a>
                </div>

                
                <!-- 原先的代码 -->
                <!-- <ul class="recommend_ul">
                    <li class="recommend_li">
                        <a class="recommend_a"  href="">
                            <div class="recommend_left">
                                <img src="./img/img/banner_img.png" alt="">
                            </div>
                            <div class="recommend_right">
                                <p class="recommend_name">散养土鸡鸡蛋</p>
                                <div class="recommend_p">
                                    <p class="recommend_p_p">正宗散养土鸡蛋优质蛋白</p>
                                </div>
                                <div class="recommend_money">
                                    <span class="new_money">¥32.8</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="recommend_li">
                        <a class="recommend_a"  href="">
                            <div class="recommend_left">
                                <img src="./img/img/banner_img.png" alt="">
                            </div>
                            <div class="recommend_right">
                                <p class="recommend_name">散养土鸡鸡蛋</p>
                                <div class="recommend_p">
                                    <p class="recommend_p_p">正宗散养土鸡蛋优质蛋白</p>
                                </div>
                                <div class="recommend_money">
                                    <span class="new_money">¥32.8</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="recommend_li">
                        <a class="recommend_a"  href="">
                            <div class="recommend_left">
                                <img src="./img/img/recommend_img.jpg" alt="">
                            </div>
                            <div class="recommend_right">
                                <p class="recommend_name">散养土鸡鸡蛋</p>
                                <div class="recommend_p">
                                    <p class="recommend_p_p">正宗散养土鸡蛋优质蛋白</p>
                                </div>
                                <div class="recommend_money">
                                    <span class="new_money">¥32.8</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="recommend_li">
                        <a class="recommend_a"  href="">
                            <div class="recommend_left">
                                <img src="./img/img/recommend_img.jpg" alt="">
                            </div>
                            <div class="recommend_right">
                                <p class="recommend_name">散养土鸡鸡蛋</p>
                                <div class="recommend_p">
                                    <p class="recommend_p_p">正宗散养土鸡蛋优质蛋白</p>
                                </div>
                                <div class="recommend_money">
                                    <span class="new_money">¥32.8</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>

        <div class="interval"></div>



         <!-- 猜你喜欢 -->
         <!-- <div class="modular"> -->
            <!-- 标题 -->
            <!-- <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">猜你喜欢</p>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多喜欢</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div> -->
            <!-- 内容 -->
            <!-- <div class="modular_con">
               <ul class="like_ul">
                   <li class="like_li">
                       <a class="like_a" href="">
                            <div class="like_img">
                                <img src="./img/img/like_img.jpg" alt="">
                            </div>
                            <p class="like_p">散养土鸡蛋优质蛋白散</p>
                            <div class="like_money">
                                <p class="new_money">¥32.8</p>
                                <p class="old_money">￥254</p>
                            </div>
                        </a>
                        <img class="like_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                   </li>
                   <li class="like_li">
                        <a class="like_a" href="">
                             <div class="like_img">
                                 <img src="./img/img/like_img.jpg" alt="">
                             </div>
                             <p class="like_p">散养土鸡蛋优质蛋白散</p>
                             <div class="like_money">
                                 <p class="new_money">¥32.8</p>
                                 <p class="old_money">￥254</p>
                             </div>
                         </a>
                         <img class="like_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
                    <li class="like_li">
                        <a class="like_a" href="">
                                <div class="like_img">
                                    <img src="./img/img/like_img.jpg" alt="">
                                </div>
                                <p class="like_p">散养土鸡蛋优质蛋白散</p>
                                <div class="like_money">
                                    <p class="new_money">¥32.8</p>
                                    <p class="old_money">￥254</p>
                                </div>
                            </a>
                            <img class="like_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
                    <li class="like_li">
                        <a class="like_a" href="">
                                <div class="like_img">
                                    <img src="./img/img/like_img.jpg" alt="">
                                </div>
                                <p class="like_p">散养土鸡蛋优质蛋白散</p>
                                <div class="like_money">
                                    <p class="new_money">¥32.8</p>
                                    <p class="old_money">￥254</p>
                                </div>
                            </a>
                            <img class="like_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
               </ul>
            </div> -->
        <!-- </div> -->


        <!-- 底线 -->
        <div class="baseline">
            <span></span>
            <p>我是有底线的</p>
            <span></span>
        </div>

    </div>

    
    <nav>
        <a class="nav_a" href="javascript:;">
            <img src="./img/icon/index_select.png" alt=""><p>首页</p>
        </a>
        <a class="nav_a" href="classify.html">
            <img src="./img/icon/classify_unselected.png" alt=""><p>分类</p>
        </a>
        <a class="nav_a" href="base.html">
            <img src="./img/icon/my_unselected.png" alt=""><p>基地</p>
        </a>
        <a class="nav_a" href="shop_car.html">
            <img src="./img/icon/shop_car_unselected.png" alt=""><p>购物车</p>
        </a>
        <a class="nav_a" href="my.html">
            <img src="./img/icon/my_unselected.png" alt=""><p>我的</p>
        </a>
    </nav>



</body>
</html>