<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>淘厨汇</title>
    <!-- 首页 -->
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/swiper.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/swiper.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/rem.js"></script>
    <script src="./js/public.js"></script>
    <script src="./js/index.js"></script>
    
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
</head>
<body id="index">
    <header class="index_header">
        <p class="header_left">基地直播</p>
        <p class="header_cen">淘厨汇农业电商平台</p>
        <img class="header_right" src="./img/icon/search.png" alt="">
    </header>

    <!-- 内容 -->
    <div class="con" id="index_con">
        <!-- 轮播 -->
        <div class="banner">
            <div class="swiper-container banner_box">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="banner in data.Return_Data.MobileBannerList">
                        <img src="./img/img/banner_img.png" alt="">
                        <!-- <img :src="banner.AdvPicture" alt="" v-cloak> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <ul class="nav_ul">
            <li class="nav_li">
                <a href="javascript:;">
                    <div class="nav_div">
                        <img src="" alt="">
                    </div>
                    <p class="nav_p">年货预定</p>
                </a>
            </li>
            <li class="nav_li">
                <a href="javascript:;">
                    <div class="nav_div">
                        <img src="" alt="">
                    </div>
                    <p class="nav_p">新鲜好货</p>
                </a>
            </li>
            <li class="nav_li">
                <a href="javascript:;">
                    <div class="nav_div">
                        <img src="" alt="">
                    </div>
                    <p class="nav_p">人气推荐</p>
                </a>
            </li>
            <li class="nav_li">
                <a href="javascript:;">
                    <div class="nav_div">
                        <img src="" alt="">
                    </div>
                    <p class="nav_p">特惠推荐</p>
                </a>
            </li>
        </ul>

        <!-- 喇叭 -->
        <div class="interval"></div>
        <div class="horn_box">
            <img class="horn_img" src="./img/icon/horn.png" alt="">
            <div class="horn_con">
                <div class="swiper-container horn">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide horn_slide" v-for="horn in data.Return_Data.SystemNoticeList" v-cloak>
                            <a class="horn_a" href="" v-cloak>{{horn.NoticeContent}}</a>
                        </div>                    
                    </div>
                </div>
            </div>
            <a class="horn_details" href="javascript:;">详情</a>
        </div>
        <div class="interval"></div>


        <!-- 模块 -->
        <!-- 直播 -->
        <div class="modular">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">原生态基地直播</p>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多基地</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">

                <div class="list" v-for="broadcast in data.Return_Data.RandomVideoList">

                    <!-- 页面地址没写 -->
                    <a class="list_a" :href="['.html?'+broadcast.SvNiD]" v-cloak>
                        <img class="list_img" src="./img/img/broadcast_img.jpg" alt="" v-cloak>
                        <p class="list_name" v-cloak>{{broadcast.SupName}}</p>
                        <p class="list_p" v-cloak>{{broadcast.VideoName}}</p>
                        <!-- 标签 -->
                        <div class="list_label">直播中</div>
                    </a>
                </div>

            </div>
        </div>

        <div class="interval"></div>

        <!-- 年货预定 -->
        <div class="modular">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">限时预定</p>

                    <!-- 时间 -->
                    <div class="time">
                        <p class="time_p">8:00场</p>
                        <p class="time_surplus"><span>00</span>:<span>36</span>:<span>42</span></p>
                    </div>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多预定</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">
                <ul class="year_list">
                    <li class="year_li">
                        <a class="yaer_list_a" href="">
                            <div class="year_img">
                                <img src="./img/img/year_img.png" alt="">
                            </div>
                            <p class="year_p">野生猕猴桃</p>
                            <div class="year_monye">
                                <span class="new_money">￥154</span>
                                <span class="old_money">￥254</span>
                            </div>
                        </a>
                    </li>
                    <li class="year_li">
                        <a class="yaer_list_a" href="">
                            <div class="year_img">
                                <img src="./img/img/year_img.png" alt="">
                            </div>
                            <p class="year_p">野生猕猴桃</p>
                            <div class="year_monye">
                                <span class="new_money">￥154</span>
                                <span class="old_money">￥254</span>
                            </div>
                        </a>
                    </li>
                    <li class="year_li">
                        <a class="yaer_list_a" href="">
                            <div class="year_img">
                                <img src="./img/img/year_img.png" alt="">
                            </div>
                            <p class="year_p">野生猕猴桃</p>
                            <div class="year_monye">
                                <span class="new_money">￥154</span>
                                <span class="old_money">￥254</span>
                            </div>
                        </a>
                    </li>
                    <li class="year_li">
                        <a class="yaer_list_a" href="">
                            <div class="year_img">
                                <img src="./img/img/year_img.png" alt="">
                            </div>
                            <p class="year_p">野生猕猴桃</p>
                            <div class="year_monye">
                                <span class="new_money">￥154</span>
                                <span class="old_money">￥254</span>
                            </div>
                        </a>
                    </li>
                    <li class="year_li">
                        <a class="yaer_list_a" href="">
                            <div class="year_img">
                                <img src="./img/img/year_img.png" alt="">
                            </div>
                            <p class="year_p">野生猕猴桃</p>
                            <div class="year_monye">
                                <span class="new_money">￥154</span>
                                <span class="old_money">￥254</span>
                            </div>
                        </a>
                    </li>
                    <li class="year_li">
                        <a class="yaer_list_a" href="">
                            <div class="year_img">
                                <img src="./img/img/year_img.png" alt="">
                            </div>
                            <p class="year_p">野生猕猴桃</p>
                            <div class="year_monye">
                                <span class="new_money">￥154</span>
                                <span class="old_money">￥254</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
          
        </div>

        <div class="interval"></div>


        <!-- 新鲜好货 -->
        <div class="modular">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">新鲜好货</p>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多好货</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">
                <div class="swiper-container fresh_box">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </a>
                            <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </a>
                            <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </a>
                            <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </a>
                            <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </a>
                            <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide fresh_slide">
                            <a class="yaer_list_a fresh_a" href="">
                                <div class="year_img fresh_img">
                                    <img src="./img/img/fresh_img.png" alt="">
                                </div>
                                <p class="year_p">野生猕猴桃</p>
                                <div class="year_monye">
                                    <span class="new_money">￥154</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </a>
                            <div class="json_shop">
                                <img class="json_shop_img" src="./img/icon/json_shop.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="interval"></div>


        <!-- 人气推荐 -->
         <div class="modular">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">人气推荐</p>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多推荐</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">
                <ul class="recommend_ul">
                    <li class="recommend_li">
                        <a class="recommend_a"  href="">
                            <div class="recommend_left">
                                <img src="./img/img/recommend_img.jpg" alt="">
                            </div>
                            <div class="recommend_right">
                                <p class="recommend_name">散养土鸡鸡蛋</p>
                                <div class="recommend_p">
                                    <p class="recommend_p_p">正宗散养土鸡蛋优质蛋白</p>
                                </div>
                                <div class="recommend_money">
                                    <span class="new_money">¥32.8</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </div>
                        </a>
                        <img class="recommend_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
                    <li class="recommend_li">
                        <a class="recommend_a"  href="">
                            <div class="recommend_left">
                                <img src="./img/img/recommend_img.jpg" alt="">
                            </div>
                            <div class="recommend_right">
                                <p class="recommend_name">散养土鸡鸡蛋</p>
                                <div class="recommend_p">
                                    <p class="recommend_p_p">正宗散养土鸡蛋优质蛋白</p>
                                </div>
                                <div class="recommend_money">
                                    <span class="new_money">¥32.8</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </div>
                        </a>
                        <img class="recommend_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
                    <li class="recommend_li">
                        <a class="recommend_a"  href="">
                            <div class="recommend_left">
                                <img src="./img/img/recommend_img.jpg" alt="">
                            </div>
                            <div class="recommend_right">
                                <p class="recommend_name">散养土鸡鸡蛋</p>
                                <div class="recommend_p">
                                    <p class="recommend_p_p">正宗散养土鸡蛋优质蛋白</p>
                                </div>
                                <div class="recommend_money">
                                    <span class="new_money">¥32.8</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </div>
                        </a>
                        <img class="recommend_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
                    <li class="recommend_li">
                        <a class="recommend_a"  href="">
                            <div class="recommend_left">
                                <img src="./img/img/recommend_img.jpg" alt="">
                            </div>
                            <div class="recommend_right">
                                <p class="recommend_name">散养土鸡鸡蛋</p>
                                <div class="recommend_p">
                                    <p class="recommend_p_p">正宗散养土鸡蛋优质蛋白</p>
                                </div>
                                <div class="recommend_money">
                                    <span class="new_money">¥32.8</span>
                                    <span class="old_money">￥254</span>
                                </div>
                            </div>
                        </a>
                        <img class="recommend_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
                </ul>
            </div>
        </div>

        <div class="interval"></div>



         <!-- 猜你喜欢 -->
         <div class="modular">
            <!-- 标题 -->
            <div class="title">
                <div class="title_left">
                    <span class="title_span"></span>
                    <p class="titel_p">猜你喜欢</p>
                </div>
                <div class="title_right">
                    <a class="title_a" href="">
                        <p class="right_p">更多喜欢</p>
                        <img class="right_img" src="./img/icon/more.png" alt="">
                    </a>
                </div>  
            </div>
            <!-- 内容 -->
            <div class="modular_con">
               <ul class="like_ul">
                   <li class="like_li">
                       <a class="like_a" href="">
                            <div class="like_img">
                                <img src="./img/img/like_img.jpg" alt="">
                            </div>
                            <p class="like_p">散养土鸡蛋优质蛋白散</p>
                            <div class="like_money">
                                <p class="new_money">¥32.8</p>
                                <p class="old_money">￥254</p>
                            </div>
                        </a>
                        <img class="like_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                   </li>
                   <li class="like_li">
                        <a class="like_a" href="">
                             <div class="like_img">
                                 <img src="./img/img/like_img.jpg" alt="">
                             </div>
                             <p class="like_p">散养土鸡蛋优质蛋白散</p>
                             <div class="like_money">
                                 <p class="new_money">¥32.8</p>
                                 <p class="old_money">￥254</p>
                             </div>
                         </a>
                         <img class="like_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
                    <li class="like_li">
                        <a class="like_a" href="">
                                <div class="like_img">
                                    <img src="./img/img/like_img.jpg" alt="">
                                </div>
                                <p class="like_p">散养土鸡蛋优质蛋白散</p>
                                <div class="like_money">
                                    <p class="new_money">¥32.8</p>
                                    <p class="old_money">￥254</p>
                                </div>
                            </a>
                            <img class="like_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
                    <li class="like_li">
                        <a class="like_a" href="">
                                <div class="like_img">
                                    <img src="./img/img/like_img.jpg" alt="">
                                </div>
                                <p class="like_p">散养土鸡蛋优质蛋白散</p>
                                <div class="like_money">
                                    <p class="new_money">¥32.8</p>
                                    <p class="old_money">￥254</p>
                                </div>
                            </a>
                            <img class="like_json_img json_shop_img" src="./img/icon/json_shop.png" alt="">
                    </li>
               </ul>
            </div>
        </div>


        <!-- 底线 -->
        <div class="baseline">
            <span></span>
            <p>我是有底线的</p>
            <span></span>
        </div>

    </div>

    
    <nav>
        <a class="nav_a" href="javascript:;">
            <img src="./img/icon/index_select.png" alt=""><p>首页</p>
        </a>
        <a class="nav_a" href="classify.html">
            <img src="./img/icon/classify_unselected.png" alt=""><p>分类</p>
        </a>
        <a class="nav_a" href="javascript:;">
            <img src="./img/icon/my_unselected.png" alt=""><p>基地</p>
        </a>
        <a class="nav_a" href="javascript:;">
            <img src="./img/icon/shop_car_unselected.png" alt=""><p>购物车</p>
        </a>
        <a class="nav_a" href="my.html">
            <img src="./img/icon/my_unselected.png" alt=""><p>我的</p>
        </a>
    </nav>



<script>
var banner = new Swiper('.banner_box',{
    autoplay: {
        observer:true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents:true,//修改swiper的父元素时，自动初始化swiper
        speed:1000,//切换速度
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        stopOnLastSlide: false,
        disableOnInteraction: false,
    },
    loop:true,
});

var fresh = new Swiper('.fresh_box', {
    observer:true, //修改swiper自己或子元素时，自动初始化swiper
    observeParents:true,//修改swiper的父元素时，自动初始化swiper
    slidesPerView: 3,
    spaceBetween : 5,
    freeMode: true,
});

var horn = new Swiper('.horn', {
        observer:true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents:true,//修改swiper的父元素时，自动初始化swiper
        loop:true,
        direction: 'vertical',//垂直
        autoplay: {
            delay: 5000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        simulateTouch : false,//禁止鼠标模拟
        allowTouchMove: false,//禁止触摸滑动
        // on:{
        //     slideChangeTransitionStart: function(){//开始过渡时执行
        //         _this.get_index()
        //     }
        // },
    });
</script>
</body>
</html>