*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.banner{
	width: 1000px;
	height: 438px;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}
.banner ul{
	width: 6000px;
	overflow: hidden;
}
.banner ul.animation{
	transition:all 1s;
}
.banner ul li{
	width:1000px;
	height: 438px;
	float: left; 
}
.banner ul li img{
	width: 100%;
	height: 100%;
}
.circular{
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: 30px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	cursor: pointer;
}
.circular span{
	display:block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	margin: 0 5px;
}
.circular .back{
	background: #525252;
}

.btn{
	display: block;
	width: 50px;
	height: 100px;
	position: absolute;
	color: #fff;
	font-size: 50px;
	line-height: 100px;
	background: rgba(0,0,0,.3);
	top: 50%;
	margin-top: -50px;
	text-align: center;
	opacity:0;
	transition:all 1s;
	cursor: pointer;
}
.btn.left{
	left: 0;
}
.btn.right{
	right:0;
}
.banner:hover .btn{
	opacity: 1;
}