/*热门搜索*/
.recommend{ 
	font-size: .26rem;
	color: #454545;
	background: #fff;
	margin-bottom: .2rem;
}
.recommend ul{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:wrap;
}
.recommend li{
	width: 33.3%;
	height: 1rem;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.recommend li:nth-of-type(2){
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	box-sizing: border-box; 
}
.recommend li:nth-of-type(8){
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	box-sizing: border-box; 
}
.recommend li:nth-of-type(4){
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box; 
}
.recommend li:nth-of-type(5){
	border: 1px solid #dddddd;
	box-sizing: border-box; 
}
.recommend li:nth-of-type(6){
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box; 
}


/*搜索历史*/
.history{
	width: 100%;
	height: auto;
	padding-bottom: .98rem;
	box-sizing: border-box; 
	background: #fff;
	overflow: hidden;
}
.history-tit{
	font-size: .3rem;
	color: #454545;
	width: 100%;
	height: .68rem;
	padding: 0rem .24rem;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box; 
	line-height: .68rem;
}
.history-con{
	overflow: scroll;
}
.history-con ul{
	width: 100%;
	padding: 0rem .24rem;
	box-sizing: border-box; 
}
.history-con li{
	width: 100%;
	height: .78rem;
	line-height: .78rem;
	font-size: .26rem;
	color: #686868;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box; 
}

.history-con button{
	width: 5rem;
	height: .8rem;
	background: #fff;
	border: 1px solid #dddddd;
	outline: none;
	font-size: .26rem;
	color: #686868;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin: auto;
	margin-top: .5rem;
	margin-bottom: .3rem;
}
.history-con img{
	width: .26rem;
	height: .27rem;
	margin-right: .1rem;
}