.content{
	padding-top: 1.06rem;
	overflow: scroll;
	padding-bottom: 1.88rem;
}

/*标题*/

.tit p{
	font-size: .34rem;
	color: #585858;
}
.shoptit{
	width: 3rem;
	text-align: center;
	position: relative;
	left: 50%;
	margin-left: -1.5rem;
}
.Administration p{
	font-size: .3rem;
	color: #585858;
}
.Administration{
	position: absolute;
	right: 0.33rem;
}




/*内容*/
.shopping-bar{
	margin-bottom: .2rem;
}
.bar-tit{
	padding: 0rem 0.24rem;
	box-sizing: border-box;
	background: #fcfafa;
}
.bar-tit{
	width: 100%;
	height: .9rem;
	font-size: .26rem;
	color: #3f3f3f;
	overflow: hidden;
	padding-top: 0.28rem;
	box-sizing: border-box;
}
.store-name img{
	width: 0.3rem;
	height: 0.27rem;
	margin:0rem 0.2rem;
	box-sizing: border-box;
}
.store-name{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	float: left;
}
.delete img{
	width: .27rem;
	height: .27rem;
	float: right;
}

/*圆*/
.circular{
	width: 0.38rem;
	height: 0.38rem;
	border-radius: 50%;
	border: 1px solid #ede9e9;
	float: left;
}
 .circular_img{
 	background: url(../img/shopcar/tick.png) no-repeat;
 	background-size: 100% 100%;
 }

/*内容*/
.bar-con{
	padding: 0.13rem 0.24rem;
	box-sizing: border-box;
	background: #fff;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.shop-img img{
	width: 1.82rem;
	height: 1.82rem;
}
.shop-img{
	width: 1.82rem;
	height: 1.82rem;
	border: 1px solid #f7f7f7;
	/*margin-left: -0.4rem;*/
}
.describe{
	width: 4.4rem;
}
.describe p{
	padding-right: 0.2rem;
	box-sizing: border-box;
}
.describe p:first-child{
	font-size: .24rem;
	color: #3f3f3f;
}
.describe p:nth-of-type(2){
	font-size: .2rem;
	color: #bdbdbd;
	margin-top: 0.07rem;
}
.choice{
	width: 100%;
	overflow: hidden;
	margin-top: 0.23rem;
}
.number-box{
	width: 1.22rem;
	height: 0.32rem;
	border: 1px solid #f4f4f4;
	color: #484848;
	font-size: 0.2rem;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	text-align: center;
	float: left;
}
.reduce{
	width: 0.32rem;
	height: 0.3rem;
	border-right: 1px solid #f4f4f4;
}
.plus{
	width: 0.32rem;
	height: 0.3rem;
	border-left: 1px solid #f4f4f4;
}
.price{
	float: right;
}
.choice .price p{
	color: #f8560a;
	font-size: 0.24rem;
	font-weight: 900;
}


/*结算*/
.Total{
	width: 100%;
	height: .9rem;
	overflow: hidden;
	position: fixed;
	bottom: .98rem;
	border-top: 1px solid #ebebeb;
	z-index: 999;
}
.total-left{
	width: 5.4rem;
	height: 100%;
	float: left;
	background: #fff;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	padding-right: .35rem;
	padding-left: .24rem;
	box-sizing: border-box;	
}
.total-left p{
	color: #585858;
	font-size: 0.3rem;
}
.total-left span{
	font-size: 0.3rem;
	color: #ff5300;
}
.total-cir{
	margin-right: .12rem;
}
.all{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}
.total-left .all p{
	font-size: .22rem;
	color: #585858;
}
.total-right{
	width: 2.1rem;
	height: 100%;
	float: right;
	color: #fff;
	font-size: .24rem;
	text-align: center;
	line-height: .90rem;
	background:linear-gradient(to right,#ff9b00,#ff7200)
}