.add_p{
    position: absolute;
    left: 1rem;
    font-size: 0.32rem;
}
/* 保存 */
.preservation{
    position: absolute;
    width: 1rem;
    text-align: center;
    right: 0;
    color: #84a539;
    font-size: 0.28rem;
}


/* 内容 */
.add_addredss_con{
    padding-top: 0.1rem;
}
.column_box{
    width: 100%;
    background: #fff;
    padding-bottom: 0.35rem;
    margin-bottom: 0.15rem;
}
.column{
    width: 100%;
    padding: 0rem 0.4rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 1rem;
    line-height: 1rem;
}

.column_p{
    width: 20%;
    color: #333333;
    font-size: 0.28rem;
}
.column_input{
    width: 75%;
    height: 80%;
    outline: none;
    border: none;
}

/* 详细地址 */
.column_detailed{
    overflow: hidden;
    padding: 0rem 0.4rem;
    box-sizing: border-box;
}
.column_textarea{
    float: left;
    width: 75%;
    min-height: 1.5rem;
    padding: 0.4rem 0.2rem 0.2rem 0.2rem;
    box-sizing: border-box;
    text-align: justify;
    border: none;
    resize: none;
    outline: none;
}

.column_detailed .column_p{
    float: left;
    line-height: 1rem;
}


/* 默认地址选项 */
.set_default{
    width: 100%;
    padding: 0rem 0.4rem;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.set_default_p{
    color: #333333;
    font-size: 0.28rem;
    line-height: 1rem;
}
.default_box{
    width: 0.38rem;
    height: 0.38rem;
    border: 1px solid #333333;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0;
}
.default_select{
    border: none;
}
.default_select img{
    width: 100%;
    height: 100%;
    font-size: 0;
}



/* 选择地区弹出层 */
.address_region_popup_box{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.address_region_popup{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
}
.address_region_popup_title{
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    position: relative;
}
.address_region_title_p{
    font-size: 0.3rem;
    color: #666666;
}
.address_region_popup_cancel{
    font-size: 0.26rem;
    color: #84a539;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0rem 0.3rem;
}

.address_region_popup_con{
    width: 100%;
}
/* 地区盒子 */
/* 省市县 */
.region_popup_title{
    width: 100%;
    /* height: 1rem; */
    line-height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.region_popup_title p{
    width: 33.3%;
    font-size: 0.28rem;
    color: #666666;
    text-align: center;
}

/* 渲染地址去 */
.address_region_popup_inner_con{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.choice_region_box{
    width: 33.3%;
    max-height: 6rem;
    overflow: auto;
    text-align: center;
}

/* 地区列表 */
.choice_region_list{
    width: 100%;
    line-height: 0.8rem;
    font-size: 0.26rem;
    color: #666666;
    text-align: center;
    border-top: 1px solid #eee;
    box-sizing: border-box;
}
.choice_region_list:active{
    background: #ccc;
}

/* 选中的样式 */
.address_select_region{
    background: #ccc;
}