/* base_details 和 base_producttype 用的一个css */
.base_details_con{
    padding-top: 0.1rem;
}
.base_product_con{
    padding-top: 0.1rem;
}


.block_box {
    width: 100%;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0.2rem;
}


/* 视频 */

.broadcast_video_box {
    width: 100%;
    height: 4rem;
    margin: 0.2rem 0rem;
    position: relative;
}

.broadcast_video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.video_play {
    width: 1.16rem;
    height: 1.16rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0;
    top: 50%;
    margin-top: -0.58rem;
    left: 50%;
    margin-left: -0.58rem;
}

.video_play img {
    width: 0.5rem;
    height: 0.66rem;
    margin-left: 0.1rem;
}


/* 顶部大图 */

.details_big_img {
    width: 100%;
    height: 3rem;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0.2rem 0rem;
    position: relative;
}

.base_productType_pic {
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 3px;
}

.details_big_content {
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 0;
    z-index: 2;
}

.base_details_title {
    color: #ffffff;
    font-size: 0.48rem;
    text-align: center;
    margin-top: 0.85rem;
}

.base_details_p_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.15rem;
}

.base_details_p {
    color: #fff;
    font-size: 0.28rem;
    margin: 0rem 0.05rem;
}


/* 商品列表 */

.base_details_shop_list {
    width: 100%;
}


/* 基地推荐 */

.base_recommend_title {
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: 0.32rem;
    line-height: 0.9rem;
}

.base_recommend_a {
    display: block;
    font-size: 0;
    margin-bottom: 0.35rem;
}

.base_recommend_img_box {
    width: 100%;
    height: 2.4rem;
    font-size: 0;
    overflow: hidden;
}

.base_recommend_img {
    width: 100%;
    height: 100%;
}

.base_recommend_name {
    color: #333333;
    font-size: 0.28rem;
    line-height: 0.7rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.base_recommend_p {
    color: #666666;
    font-size: 0.24rem;
    display: -webkit-box;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/* 基地信息/收藏 */

.suplier_information_box {
    width: 100%;
    height: 1.5rem;
    padding: 0.1rem 0.4rem 0.25rem 0.3rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


/* 基地头像（logo） */

.suplier_logo {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    left: 0.15rem;
    top: 0.1rem;
    font-size: 0;
}

.suplier_logo img {
    width: 100%;
    height: 100%;
}


/* 基地基本信息（名称、简介、地址等）  */

.suplier_information {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1.28rem;
    padding-top: 0.1rem;
}

.suplier_name {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #666666;
    font-size: 0.25rem;
}

.suplier_remark {
    width: 100%;
    height: 0.35rem;
    line-height: 0.35rem;
    color: #666666;
    font-size: 0.24rem;
    overflow: hidden;
}

.suplier_address_keep {
    width: 100%;
    height: 0.55rem;
    color: #666666;
    font-size: 0.24rem;
    position: relative;
    top: 0.1rem;
}

.suplier_address {
    position: relative;
    float: left;
}

.suplier_address img {
    position: absolute;
    left: 0;
    top: 2px;
    width: 0.22rem;
    height: 0.3rem;
    margin-right: 0.1rem;
}

.suplier_address_area {
    color: #666666;
    font-size: 0.24rem;
    margin-left: 0.3rem;
}

.suplier_keep {
    position: relative;
    float: left;
    margin-left: 0.15rem;
}

.suplier_keep img {
    position: absolute;
    left: 0;
    top: 2px;
    width: 0.26rem;
    height: 0.26rem;
    margin-right: 0.1rem;
}

.suplier_keep_count {
    color: #666666;
    font-size: 0.24rem;
    margin-left: 0.3rem;
}


/* 关注/收藏 */

.suplier_dokeep {
    color: #ffffff;
    font-size: 0.28rem;
    text-align: center;
    height: 0.55rem;
    line-height: 0.55rem;
    padding: 0rem 0.25rem;
    background: #82a541;
    border-radius: 5px;
    position: absolute;
    right: 0.3rem;
    top: 0.4rem;
}


/* 取消关注/收藏 */

.suplier_cancelkeep {
    color: #ffffff;
    font-size: 0.28rem;
    text-align: center;
    height: 0.55rem;
    line-height: 0.55rem;
    padding: 0rem 0.25rem;
    background: #bbbbbb;
    border-radius: 5px;
    position: absolute;
    right: 0.3rem;
    top: 0.4rem;
}