.purchase_order_list_con{
    padding-top: 0.2rem;
}
.Recommend_shop{
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    background: #fff;
}
.recommend_shop_all_number{
    font-size: 0.3rem;
    color: #333333;
    position: absolute;
    right: 0.2rem;
    top: 50%;
}