*{
	margin: 0;
	padding: 0;
}


/*缩放*/
.zoom{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 100px;
}
.zoom img{
	width: 200px;
	height: 200px;
	transition:all 1s;
}
.zoom img:hover{
	transform:scale(1.5);
/*	transform:rotateY(180deg);*/
}

/*字体间距缩放*/
.zoom-font{
	margin-top: 50px;
	height: 150px;
	background: #0da5d6;
	padding-top: 25px;
}
.biankuang{
	width: 900px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin: 0 auto;
}
.biankuang span{
	font-size: 50px;
	color: #fff;
	margin: 0 25px;
	transition:all 1s;
}
.biankuang:hover{
	cursor: pointer;
}
.biankuang:hover span{
	margin: 0 10px;
}

/*图片*/
.kuang{
	margin-top: 100px;
	height: 400px;
	margin-left: 400px;
}
.kuang ul{
	overflow: hidden;
}
.kuang ul li{
	float: left;
	width: 50px;
	height: 320px;
	list-style: none;
	overflow: hidden;
	transition:all 1s;
}
.kuang ul li:hover{
	width: 700px;
}