*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	float: left;
	width: 1000px;
	height: 438px;
}

ul{
	width: 6000px;
	height: 438px;
}
ul.animate{
	transition:all 1s;
}
.bannerbox{
	width: 1000px;
	height: 438px;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
}
