.con{
    position: absolute;
    left: 0;
    top: 0.9rem;
    bottom: 0;
    overflow: auto;
    /* padding-top: 0.2rem; */
    width: 100%;
}

.identity_information{
    width: 100%;
    height: auto;
    border-radius: 5px;
    /* overflow: hidden; */
    box-shadow: 0px 1px 5px #ccc;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    background: #fff;
    margin-top: 0.2rem;
}
.identity_information_div{
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.identity_information_div:last-child{
    border: none;
}
.identity_information_p{
    width: 21%;
    font-size: 0.3rem;
    color: #333333;
}
.identity_information_input{
    width: 79%;
    height: 80%;
    font-size: 0.28rem;
    color: #333333;
    outline: none;
    border: none;
}


/* 身份证 */
.identity_information_box{
    padding-bottom: 0.3rem;
}
.identity_certificates_title{
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.6rem;
    margin-bottom: 0.4rem;
}
.identity_certificates_div{
    width: 100%;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 证件 */
.identity_certificates_front,.identity_certificates_behind{
    width: 46%;
    height: 2.4rem;
    border: 1px dashed #bbb;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.identity_certificates_input{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.identity_certificates_img{
    color: #999999;
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
}
.identity_certificates_p{
    font-size: 0.28rem;
    color: #333333;
}
.identity_certificates_tips{
    font-size: 0.24rem;
    color: #999999;
}
.identity_certificates_notes{
    font-size: 0.28rem;
    color: #999999;
}

/* 按钮 */
.identity_information_but{
    width: 90%;
    margin: 0 auto;
    height: 1rem;
    background: #88ad48;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    font-size: 0.36rem;
    line-height: 1rem;
    text-align: center;
    margin-top: 1rem;
}