.black_header{
    background: #393a3f;
}
.bank_card_administration_con{
    position: absolute;
    top: 0.9rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2d3132;
    padding: 0.2rem 0.3rem;
    box-sizing: border-box;
}
.bank_car_list{
    width: 100%;
    height: 2.2rem;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.2rem;
}
.bank_car_img{
    width: 100%;
    height: 100%;
}
.bank_car_suspension{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0.3rem;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
}
.bank_car_type_box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.bank_car_type_img{
    width: 0.7rem;
    height: 0.7rem;
}
.bank_car_type_img img{
    width: 100%;
    height: 100%;
}
.bank_car_type_information{
    margin-left: 0.1rem;
}
.bank_car_type_nmae{
    font-size: 0.28rem;
    color: #fafbfc;
}
.bank_car_type{
    font-size: 0.28rem;
    color: #61b8ab;
}
.bank_car_number_div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.3rem;
}
.bank_car_number{
    font-size: 0.54rem;
    color: #fafbfc;
    margin: 0rem 0.15rem;
}
.bank_car_number_unknown{
    font-size: 0.38rem;
    padding-top: 0.12rem;
}

/* 添加银行卡 */
.add_bank_car_box{
    width: 100%;
    height: 1.2rem;
    border-bottom: 1px solid #8c8c8c;
}
.add_bank_car_a{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.35rem;
    box-sizing: border-box;
}
.add_bank_car_img{
    color: #8c8c8c;
    font-size: 0.6rem;
}
.add_bank_car_p{
    font-size: 0.32rem;
    color: #8c8c8c;
    margin-left: 0.2rem;
}