.fruit_tree_list_con{
    position: absolute;
    top: 0.9rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #f5f4f7;
}
.tree_slide_list{
    background: #f5f4f7;
    padding-top: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* 果树 */
.fruit_tree_img_box{
    width: 100%;
    height: 72%;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    /* background: #000 */
}
.fruit_tree_img{
    width: 100%;
    height: 100%;
}
.fruit_tree_img_masking{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(136, 173, 72, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fruit_tree_name{
    font-size: 0.48rem;
    color: #f5f4f7;
    margin-bottom: 0.2rem;
}
.fruit_tree_id{
    font-size: 0.3rem;
    color: #333;
    background: #ffff00;
    border-radius: 0.25rem;
    overflow: hidden;
    padding: 0.02rem 0.15rem;
    margin-left: 0.2rem;
}
.fruit_tree_time{
    font-size: 0.36rem;
    color: #f5f4f7;
    margin-bottom: 0.5rem;
}
.fruit_tree_phone{
    position: absolute;
    width: 2.6rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    bottom: 0.45rem;
    font-size: 0.36rem;
    color: #333333;
    background: #ffff00;
    border-radius: 0.35rem;
    overflow: hidden;
    left: 50%;
    margin-left: -1.3rem;
}


/* 基地信息 */
.fruit_tree_base{
    width: 100%;
    height: 28%;
    padding-top: 0.4rem;
    box-sizing: border-box;
    text-align: left;

    /* background: red; */
}
.fruit_tree_base_name,.fruit_tree_base_address{
    font-size: 0.28rem;
    color: #333333;
    line-height: 0.6rem;
}

