/* 推荐人数 */
.recommend_number{
    width: 94%;
    height: 2.65rem;
    margin: 0 auto;
    /* background: #fc4834; */
    border-radius: 8px;
    overflow: hidden;
    padding-top: 0.8rem;
    box-sizing: border-box;
    margin-bottom: 0.3rem;
    box-shadow: 0px 0px 10px #bbb;
    margin-top: 0.2rem;
}
.recommend_number_title{
    font-size: 0.38rem;
    color: #333333;
    margin-bottom: 0.1rem;
}
.recommend_number_p,.recommend_number_title{
    width: 100%;
    text-align: center;
}
.recommend_number_p{
    font-size: 0.75rem;
    color: #333333;
}
.recommend_number_p span{
    font-size: 0.75rem;
    color: #fc4834;
}

/* 推荐明细 */
.recommend_detailed_box{
    width: 100%;
    /* padding: 0rem 0.3rem; */
    /* box-sizing: border-box; */
}
.recommend_detailed_title{
    width: 100%;
    line-height: 1.2rem;
    font-size: 0.32rem;
    color: #333333;
    padding-left: 0.5rem;
    box-sizing: border-box;
}
/* 推荐明细内容 */
.recommend_detailed_con{
    width: 100%;
    overflow: auto;
}
.recommend_detailed_ul{
    width: 100%;
    overflow: auto;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
}
.recommend_detailed_li{
    width: 100%;
    height: 1rem;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.15rem 0rem 0.2rem;
    box-sizing: border-box;
}
/* 推荐明细左边 */
.recommend_detailed_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.recommend_detailed_portrait{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 0.1rem;
}
.recommend_detailed_portrait img{
    width: 100%;
    height: 100%;
}
/* 信息 */
.recommend_detailed_name{
    font-size: 0.24rem;
    color: #333333;
    margin-bottom: 0.1rem;
}
.recommend_detailed_phone{
    font-size: 0.24rem;
     color: #999999;
}
.recommend_detailed_type{
    font-size: 0.24rem;
    color: #666666;
    margin-bottom: 0.1rem;
}
.recommend_detailed_time{
    font-size: 0.22rem;
    color: #666666;
}