.con{
    padding-bottom: 3rem;
    position: absolute;
    left: 0;
    top: 0.9rem;
    overflow: auto;
    width: 100%;
    padding-top: 0.1rem;
    box-sizing: border-box;
}
.problem_box{
    width: 100%;
    background: #fff;
}
.problem_head{
    color: #333333;
    font-size: 0.32rem;
    padding-left: 0.3rem;
    box-sizing: border-box;
    line-height: 1rem;
    font-weight: bold;
}

.problem_con{
    width: 100%;
}
.problem_list{
    width: 100%;
}

/* 问题 */
.problem_title{
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    border-top: 1px solid #eee;
}
.problem_p{
    color: #333333;
    font-size: 0.3rem;
}

.problem_img_down{
    transform: rotateZ(90deg)
}
.solve{
    width: 100%;
    transition: all 0.2s;
    overflow: hidden;
    height: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    padding: 0rem 0.3rem;
}
/* 点击后 */
.solve_down{
    width: 100%;
    height: auto;
    border-top: 1px solid #eee;
    padding: 0.2rem 0.3rem;
}

.solve_p{
    color: #666666;
    font-size: 0.24rem;
    position: relative;
    line-height: 0.37rem;
}
.solve_p::after{
    content: "·";
    position: absolute;
    left: -0.1rem;
}



/* 底部客服 */
.online_service{
    width: 100%;
    background: #fff;
    padding: 0.25rem 0.3rem 0.3rem 0.3rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 99;
}

.online_service_bot{
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    color: #fafbfc;
    font-size: 0.28rem;
    background: #84a539;
    border-radius: 5px;
    margin-bottom: 0.2rem;
}
.service_phone_box{
    width: 100%;
    margin-bottom: 0.2rem;
}
.service_phone{
    font-size: 0.42rem;
    color: #84a539;
    margin-right: 0.1rem;
}
.service_a{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.service_phone_img{
    width: 0.36rem;
    height: 0.36rem;
    margin-right: 0.1rem;
}
.service_phone_p{
    color: #84a539;
    font-size: 0.24rem;
}
.Tips{
    color: #999999;
    font-size: 0.24rem;
    text-align: center;
}
