body,html{background: #f5f4f7}
.con{
    padding-top: 1rem;
    padding-bottom: 0rem;
    box-sizing: border-box;
}
.block_box{
    width: 100%;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

/* 视频 */
.broadcast_video_box{
    width: 100%;
    height: 4rem;
    margin: 0.2rem 0rem;
    position: relative;
}
.broadcast_video{
    width: 100%;
    height: 100%;
}
.video_play{
    width: 1.16rem;
    height: 1.16rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0;
    top: 50%;
    margin-top: -0.58rem;
    left: 50%;
    margin-left: -0.58rem;
}
.video_play img{
    width: 0.5rem;
    height: 0.66rem;
    margin-left: 0.1rem;
}









/* 顶部大图 */
.details_big_img{
    width: 100%;
    height: 3rem;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    margin:0.2rem 0rem;
}
.base_details_title{
    color: #ffffff;
    font-size: 0.48rem;
    text-align: center;
    margin-bottom: 0.08rem;
}
.base_details_p_box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.base_details_p{
    color: #fff;
    font-size: 0.28rem;
    margin: 0rem 0.05rem;
}


/* 商品列表 */
.base_details_shop_list{
    width: 100%;
}







/* 基地推荐 */
.block_box{
    width: 100%;
}
.base_recommend_title{
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: 0.32rem;
    line-height: 0.9rem;
}

.base_recommend_a{
    display: block;
    font-size: 0;
    margin-bottom: 0.35rem;
}
.base_recommend_img_box{
    width: 100%;
    height: 2.4rem;
    font-size: 0;
    overflow: hidden;
}
.base_recommend_img{
    width: 100%;
    height: 100%;
}
.base_recommend_name{
    color: #333333;
    font-size: 0.28rem;
    line-height: 0.7rem;
}
.base_recommend_p{
    color: #666666;
    font-size: 0.24rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}