body,html{background: #f5f4f7;}
.con{
    padding-bottom: 0rem;
}
.header_right_p{
    color: #82a541;
    font-size: 0.24rem;
    position: absolute;
    right: 0.2rem;
    top: 0;
    padding: 0rem 0.2rem;
}

.collection_titele{
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0rem 0.3rem;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
    margin-bottom: 0.2rem;
}
.collection_shop,.collection_base{
    color: #333333;
    font-size: 0.28rem;
    width: 50%;
    float: left;
    text-align: center;
}


/* 收藏内容 */
.collection_con{
    background: #fff;
    width: 100%;
    overflow: hidden;
}
.collection_box{
    /* width: 100%; */
    height: 2.9rem;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    position: relative;
    left: 0rem;
}
.collection_box_anim{
    transition: all 0.2s;
}
.collection_box:last-child{
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

/* 删除圆圈 */
.circular_box{
    width: 0.8rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -0.8rem;
}
.circular{
    display: block;
    width: 0.32rem;
    height: 0.32rem;
    border-radius: 100%;
    border: 1px solid #535257;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
/* 选择状态 */
.circular_obj{
    border: none;
    background: url(../img/icon/circular_obj.png) no-repeat;
    background-size: 100% 100%;
}
/* 滑动 删除 */
.delete{
    width: 1rem;
    height: 100%;
    color: #fff;
    font-size: 0.28rem;
    background: #ff3b32;
    text-align: center;
    line-height: 2.9rem;
    position: absolute;
    top: 0;
    right: -1rem;
}

/* 内容 */
.collection{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.collection_a{
    display: block;
    padding: 0.3rem;
    box-sizing: border-box;
    overflow: hidden;
}

/* 左边图片 */
.collection_left_img{
    width: 30%;
    height: 100%;
    float: left;
    /* border-radius: 4px; */
    overflow: hidden;
}
.collection_left_img img{
    width: 100%;
    height: 100%;
}
/* 右边内容 */
.collection_right_con{
    float: left;
    width: 70%;
    height: 100%;
    padding: 0.2rem 0rem 0rem 0.2rem;
    box-sizing: border-box;
    position: relative;
}
.collection_right_name{
    color: #333333;
    font-size: 0.28rem;
    margin-bottom: 0.1rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.collection_right_p{
    width: 100%;
    height: 0.8rem;
    margin-bottom: 0.2rem;
}
.collection_right_p p{
    color: #666666;
    font-size: 0.24rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.shop_money{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 找相似 */
.similar{
    display: block;
    width: auto;
    height: auto;
    color: #666666;
    font-size: 0.24rem;
    padding: 0.05rem 0.1rem;
    border:1px solid #886868;
    border-radius: 0.5rem;
    box-sizing: border-box;
    position: absolute;
    right: 0.3rem;
    bottom: 0.5rem;
}


/* 没有更多了 */
.period{
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: 0.24rem;
    margin: 0.8rem 0rem 1.2rem 0rem;
}




/* 点击  编辑后 */
.edit_box{
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: -1rem;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.3rem 0rem 0.2rem;
    box-sizing: border-box;
    background: #fff;
}
.whole_box{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.whole{
    margin-right: 0.15rem;
}
.whole_p{
    color: #666666;
    font-size: 0.28rem;
}
.edit_delete{
    display: block;
    width: auto;
    height: auto;
    font-size: 0.28rem;
    color: #ffffff;
    background: #fd421f;
    line-height: 0.5rem;
    padding: 0rem 0.3rem;
    border-radius: 0.5rem;
}

