body,html{
    background: #fff;
    /* f5f4f7 */
}
.feedback_header{
    position: relative;
}
#feedback_box{
    width: 100%;
    height: 100%;
    position: relative;
}



/* 内容 */
.con{
    padding: 0.2rem 0.3rem;
    box-sizing: border-box;
}

/* 意见意见  单选框 */
.proposal_opinion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.2rem;
    padding-left: 0.2rem;
}
.proposal,.opinion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.35rem;
}
.proposal_circle{
    width: 0.25rem;
    height: 0.25rem;
    border: 1px solid #81ad3e;
    border-radius: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    /* background: #000; */
}
.spot::after{
    content: "";
    position: absolute;
    width: 0.08rem;
    height: 0.08rem;
    background: #81ad3e;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    margin-left: -0.04rem;
    margin-top: -0.04rem;
}
.proposal_opinion_p{
    color: #999999;
    font-size: 0.24rem;
    margin-left: 0.1rem;
}


.feedback_con_box{
    width: 100%;
    position: relative;
    padding-bottom: 0.3rem;
    border-radius: 5px;
    background: #f5f5f5;
    overflow: hidden;
    margin-bottom: 0.13rem;
}
.feedback_con{
    width: 100%;
    min-height: 2.9rem;
    border: none;
    background: #f5f5f5;
    resize: none;
    padding: 0.2rem;
    line-height: 0.4rem;
    outline: none;
    text-indent: 2em;
    box-sizing: border-box;
    color: #333;
    font-size: 0.28rem;
    overflow: auto;
    text-align: justify
}

/* 输入了多少文字 */
.input_text{
    position: absolute;
    right: 0.2rem;
    bottom: 0.1rem;
    color: #999999;
    font-size: 0.24rem;
}

/* 一段文字 */
.section_p{
    color: #333333;
    font-size: 0.24rem;
    margin-bottom: 0.6rem;
}



/* 上传图片 */
.upload{
    width: 100%;
    height: 2.26rem;
}
.upload_ul{
    width: 100%;
    /* overflow: hidden; */
}
.upload_li{
    float: left;
    width: 23%;
    height: 1.7rem;
    margin: 0 1%;
    background: #f5f5f5;
    border-radius: 5px;
    position: relative;
}
.upload_img{
    width: 100%;
    height: 100%;
}
.upload_li_last{
    position: relative;
}
.upload_input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.close_down{
    padding: 0.1rem;
    position: absolute;
    font-size: 0;
    z-index: 99;
    top: -0.2rem;
    right: -0.2rem;
}
.close_down_img{
    width: 0.3rem;
    height: 0.3rem;
}



/* 提交按钮 */
.submission{
    margin-top: 0.6rem;
    width: 100%;
    height: 0.88rem;
    border-radius: 5px;
    background: #c6c6c6;
    box-sizing: border-box;
    text-align: center;
    line-height: 0.88rem;
    color: #fff;
    font-size: 0.32rem;
}

.none{display: none}
