body,html{background: #f5f4f7;}
.con{
    padding-top: 1.1rem;
    padding-bottom: 0;
}
.footprint_box{
    background: #fff;
    width: 100%;
    margin-bottom: 0.2rem;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
}
/* title */
.footprint_title{
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    margin: 0rem -0.3rem;
    padding: 0rem 0.3rem;
    border-bottom: 1px solid #eee;
}
.footprint_title p{
    color: #333333;
    font-size: 0.24rem;
}
/* 内容 */
.collection{
    width: 100%;
    height: 2.9rem;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #eee;
    box-sizing: border-box;
}
.footprint_box>.collection:nth-of-type(2){
    border: none;
}
.collection_a{
    display: block;
    padding: 0.3rem 0rem;
    box-sizing: border-box;
    overflow: hidden;
}

/* 左边图片 */
.collection_left_img{
    width: 30%;
    height: 100%;
    float: left;
    /* border-radius: 4px; */
    overflow: hidden;
    font-size: 0;
}
.collection_left_img img{
    width: 100%;
    height: 100%;
}
/* 右边内容 */
.collection_right_con{
    float: left;
    width: 70%;
    height: 100%;
    padding: 0.2rem 0rem 0rem 0.2rem;
    box-sizing: border-box;
    position: relative;
}
.collection_right_name{
    color: #333333;
    font-size: 0.28rem;
    margin-bottom: 0.1rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.collection_right_p{
    width: 100%;
    height: 0.8rem;
    margin-bottom: 0.2rem;
}
.collection_right_p p{
    color: #666666;
    font-size: 0.24rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.shop_money{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 找相似 */
.similar{
    display: block;
    width: auto;
    height: auto;
    color: #666666;
    font-size: 0.24rem;
    padding: 0.05rem 0.1rem;
    border:1px solid #886868;
    border-radius: 0.5rem;
    box-sizing: border-box;
    position: absolute;
    right: 0.3rem;
    bottom: 0.5rem;
}


/* 没有更多了 */
.period{
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: 0.24rem;
    margin: 0.8rem 0rem 0.8rem 0rem;
}