/* 底部导航选中 */
.nav_a:nth-of-type(1) p{
    color: #7ea83a;
}
.index_header .header_left{
    font-style: italic;
}


/* 内容 */

/* 轮播 */
.banner{
    width: 100%;
    height: 3.35rem;
    overflow: hidden;
    margin-bottom: 0.1rem;
}
.banner img{
    width: 100%;
    height: 100%;
}
.banner_a{
    display: block;
}
/* 小圆点 */
.banner_box .index_circular{
    bottom: -0.15rem;
}
.banner_box .swiper-pagination-bullet-active{
    /* background: #000; */
}



/* 导航 */
.nav_ul{
    width: 100%;
    overflow: hidden;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
}
.nav_li{
    width: 25%;
    padding: 0.4rem 0rem;
    float: left;
}
.nav_li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_div{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 0.1rem;
    font-size: 0;
}
.nav_div img{
    width: 100%;
    height: 100%;
}
.nav_p{
    color: #333333;
    font-size: 0.24rem;
}


/* 喇叭 */
.horn_box{
    width: 100%;
    height: 0.7rem;
    position: relative;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.horn_img{
    width: 0.35rem;
    height: 0.32rem;
}
.horn_con{
    width: 70%;
    height: 0.7rem;
    overflow: hidden;
    line-height: 0.7rem;
    position: absolute;
    top: 0;
    margin-left: 0.5rem;
    font-size: 0.24rem;
    color: #333333;
}
.horn_a{
    color: #333333;
    font-size: 0.24rem;
    text-align: left;
}
.horn_details{
    width: auto;
    height: auto;
    color: #86a73d;
    font-size: 0.24rem;
    border: 1px solid #86a73d;
    text-align: center;
    padding: 0.05rem 0.2rem;
    border-radius: 5px;
}



/* 模块 */
.modular{
    width: 100%;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    padding-bottom: 0.3rem;
}

/* 标题 */
.title{
    width: 100%;
    height: 0.9rem;
    margin-bottom: 0.15rem;
    line-height: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title_left{
    display: flex;
    flex-direction: row;
}
/* 左边 */
.title_left{
    justify-content: flex-start;
    align-items: center;
}
.title_span{
    display: block;
    width: 4px;
    height: 0.3rem;
    background: #7ea83a;
    margin-right: 0.1rem;
}
.titel_p{
    color: #333333;
    font-size: 0.3rem;
    font-weight: bold;
}


/* 右边 */
.title_a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.right_p{
    color: #999999;
    font-size: 0.24rem;
}
.right_img{
    width: 0.24rem;
    height: 0.24rem;
    margin-left: 0.1rem;
    font-size: 0;
}
/* 内容 */
.modular_con{
    width: 100%;
    overflow: hidden;
}


/* 年货预定 */
.time{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.2rem;
}
.time_p{
    color: #f73031;
    font-size: 0.28rem;
    margin-right: 0.1rem;
    font-weight: bold;
}
.time_surplus{
    color: #333333;
    font-size: 0.28rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.time_surplus span{
    line-height: initial;
    color: #fff;
    font-size: 0.24rem;
    display: block;
    padding: 0.05rem 0.08rem;
    background: #000000;
    margin: 0rem 0.05rem;
    border-radius: 3px;
}

/* 内容 */
.year_list{
    width: 100%;
    overflow: hidden;
}
.year_li{
    width: 31%;
    float: left;
    margin: 0rem 1.15%; 
    margin-bottom: 0.2rem;
}
.yaer_list_a{
    display: block;
}
.year_img{
    width: 100%;
    height: 2.8rem;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-bottom: 0.15rem;
}
.year_img img{
    width: 100%;
    height: 100%;
}
.year_p{
    width: 100%;
    text-align: center;
    color: #666666;
    font-size: 0.24rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/* 钱 */
.year_monye{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}



/* 新鲜好货 */
.fresh_a{
    display: block;
    width: 100%;
}
.fresh_img{
    width: 100%;
    height: 2.3rem;
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
}
.fresh_img img{
    width: 100%;
    height: 100%;
}
.json_shop{
    width: 100%;
    margin-top: 0.15rem;
}
.json_shop .json_shop_img{
    margin: 0 auto;
}
.fresh_slide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* 人气推荐 */
.recommend_ul{
    width: 100%;
}
.recommend_li{
    width: 100%;
    height: 2.5rem;
    position: relative;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.recommend_li:last-child{
    border-bottom: none;
}
.recommend_a{
    display: block;
    /* padding: 0.4rem 0rem; */
    box-sizing: border-box;
    overflow: hidden;
}

/* 左边 图片 */
.recommend_left{
    width: 30%;
    height: 100%;
    float: left;
    padding: 0rem 0rem;
    box-sizing: border-box;
}
.recommend_left img{
    width: 100%;
    height: 100%;
}

/* 右边 */
.recommend_right{
    float: left;
    width: 70%;
    height: 100%;
    /* padding-left: 0.35rem; */
    padding: 0.3rem 0.2rem;
    box-sizing: border-box;
}

.recommend_name{
    color: #333333;
    font-size: 0.32rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;    
}
.recommend_p{
    width: 100%;
    height: 0.8rem;
    margin-bottom: 0.2rem;
}
.recommend_p_p{
    color: #666666;
    font-size: 0.28rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.recommend_money{
    font-size: 0;
}
.recommend_json_img{
    position: absolute;
    right: 0;
    bottom: 0.4rem;
}



/* 猜你喜欢 */
.like_ul{
    width: 100%;
    overflow: hidden;
}
.like_li{
    float: left;
    width: 48%;
    margin: 0rem 1%; 
    position: relative;
    margin-bottom: 0.35rem;
}
.like_a{
    display: block;
}
.like_img{
    width: 100%;
    height: 3.4rem;
    font-size: 0;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-bottom: 0.1rem;
}
.like_img img{
    width: 100%;
    height: 100%;
}
.like_p{
    color: #333333;
    font-size: 0.32rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    padding: 0rem 0.08rem;
    box-sizing: border-box;
}
.like_money{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0rem 0.08rem;
    box-sizing: border-box;
}

.like_json_img{
    position: absolute;
    right: 0.15rem;
    bottom: 0rem;
}