.con{
    padding-bottom: 1.2rem;
}
body,html{
    background: #f5f4f7;
}
.order_details_header{
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.order_details_top{
    width: 100%;
    height: 3.2rem;
}
.order_details_top img{
    width: 100%;
    height: 100%;
}

/* 送货  物流 */
.logistics_box{
    width: 100%;
    padding: 0.2rem 0.4rem;
    box-sizing: border-box;
    background: #fff;
}
/* 物流 */
.logistics{
    color: #3996e7;
    font-size: 0.28rem;
    text-align: justify;
    line-height: 0.5rem;
    font-weight: bold;
}
.logistics span{
    color: #999999;
    font-size: 0.28rem;
    margin-left: 0.3rem;
    font-weight: 500;
}

/* 地址 */
.address{
    width: 100%;
    padding-top: 0.2rem;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    margin-top: 0.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.address_left{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.address_left img{
    width: 0.45rem;
    height: 0.55rem;
}
.address_right{
    width: 85%;
    height: 100%;
}
.address_p{
    color: #333333;
    font-size: 0.24rem;
    line-height: 0.4rem;
}

/* 商品 */
.shop_box{
    width: 100%;
    padding: 0.2rem 0.3rem 0.8rem 0.3rem;
    box-sizing: border-box;
    position: relative;
    background: #fff;
}
.shop_a{
    display: block;
    height: 2rem;
    overflow: hidden;
    /* border-bottom: 1px solid #eee; */
    box-sizing: border-box;
}
/* 左边图片 */
.shop_a_left{
    width: 30%;
    height: 100%;
    float: left;
}
.shop_a_left img{
    width: 100%;
    height: 100%;
}

/* 右边内容 */
.shop_a_right{
    width: 70%;
    height: 100%;
    padding-left: 0.2rem;
    box-sizing: border-box;
    float: left;
    padding-top: 0.2rem;
    position: relative;
}
.shop_name{
    color: #333333;
    font-size: 0.32rem;
    width: 90%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom: 0.1rem;
}
.shop_p{
    width: 100%;
    height: 0.8rem;
}
.shop_p p{
    color: #666666;
    font-size: 0.28rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* 标签 */
.Label{
    width: 100%;
    overflow: hidden;
}
.Label_span{
    float: left;
    display: block;
    width: auto;
    color: #f7331d;
    font-size: 0.2rem;
    background: #fff3ef;
    border-radius: 5px;
    margin-right: 0.15rem;
    margin-bottom: 0.1rem;
}
/* 数量 */
.shop_number{
    color: #666666;
    font-size: 0.28rem;
    position: absolute;
    top: 20%;
    right: 0.05rem;
}

/* 退换 */
.Refund{
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    line-height: 0.5rem;
    text-align: center;
    color: #666666;
    font-size: 0.28rem;
    padding: 0rem 0.2rem;
    border: 1px solid #bfbfbf;
    border-radius: 0.5rem;
    bottom: 0.15rem;
    right: 0.3rem;
}




/* 价格 */
.Price{
    width: 100%;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    background: #fff;
}
.all_money,.freight,.Order_all_money,.payment{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.money_p{
    color: #666666;
    font-size: 0.28rem;
}
.money_Price{
    color: #999999;
    font-size: 0.28rem;
}
/* 总价  运费 */
.all_money,.freight{
    height: 0.6rem;
}
/* 订单总价  实付款 */
.Order_all_money,.payment{
    height: 0.9rem;
    border-top: 1px solid #eee;
    box-sizing: border-box;
}
.Order_all_money .money_Price{
    color: #333333;
}
.payment p{
    font-size: 0.32rem;
}
.payment .money_Price{
    color: #333333;
    font-weight: bold;
}
.payment .money_Price>span{
    color: #fc0a2c
}


/* 订单信息 */
.order_information{
    width: 100%;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    background: #fff;
}
.order_information_title{
    color: #333333;
    font-size: 0.28rem;
    line-height: 0.9rem;
}
.order_information_ul{
    width: 100%;
}
.order_information_li{
    width: 100%;
    height: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    position: relative;
}
.order_information_li p{
    color: #666666;
    font-size: 0.28rem;
    line-height: 0.9rem;
}
/* 复制 */
.copy{
    display: block;
    color: #80ac3a;
    font-size: 0.24rem;
    line-height: 0.4rem;
    text-align: center;
    padding: 0rem 0.2rem;
    border: 1px solid #eee;
    box-sizing: border-box;
}
/* 订单编号 */
#order_code_input{
    position: absolute;
    top: 100%;
    left: 100%;
    /* height: 90%; */
    opacity: 0;
}
.order_code{
    color: red
}


/* 联系 */
.contact{
    width: 100%;
    height: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.seller{
    width: 49.5%;
    height: 100%;
    color: #82a541;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.9rem;
    font-weight: bold;
}
.contact span{
    display: block;
    width: 2px;
    height: 0.5rem;
    background: #eee;
}
.dial_service{
    width: 49.5%;
    height: 100%;
    line-height: 0.9rem;
    color: #82a541;
    font-size: 0.28rem;
    text-align: center;
    font-weight: bold;
}



/* 底部  按钮 */
.bot_btn{
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 99;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.look_logistics,.extend,.confirm{
    display: block;
    width: auto;
    height: auto;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #666666;
    font-size: 0.28rem;
    border: 1px solid #bfbfbf;
    padding: 0rem 0.2rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-left: 0.2rem;
}
.confirm{
    border: 1px solid #fc5300;
    color: #fc5300;
}
