.Release{
    color: #80ac3a;
    font-size: 0.28rem;
    display: block;
    height: 100%;
    padding: 0rem 0.2rem;
    position: absolute;
    right: 0.1rem;
    top: 0;
    font-weight: bold;
}
.con{
    /* padding-left: 0.3rem;
    padding-right: 0.3rem;
    box-sizing: border-box; */
}
.padd{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    box-sizing: border-box;
}

/* 描述评分 */
.describe_score{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    padding-bottom: 0.05rem;
    padding-top: 0.05rem;
    line-height: 0.5rem;
}
.describe_score_p{
    color: #333333;
    font-size: 0.28rem;
    margin-right: 0.15rem;
}
.describe_score_img{
    width: 0.34rem;
    height: 0.32rem;
    margin-right: 0.2rem;
}
/* 描述 */
.describe{
    color: #999999;
    font-size: 0.32rem;
}



/* 评价  文字 */
.evaluate_box{
    width: 100%;
    padding-bottom: 0.2rem;
}
.evaluate_p{
    padding:0.25rem 0.1rem 0.2rem 0.1rem;
    box-sizing: border-box;
    outline: none;
    border:none;
    resize:none;
    text-indent: 2em;
    width: 100%;
    font-size: 0.28rem;
    color: #333333;
    margin-bottom: 0.1rem;
}
/* 上传图片 */
.upload_img_box{
    width: 100%;
    overflow: hidden;
}
.upload_img{
    width: 23%;
    height: 1.6rem;
    float: left;
    margin: 0.05rem 1%; 
    position: relative;
}
.upload_img img{
    width: 100%;
    height: 100%;
}
.upload_input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    opacity: 0;
}



/* 匿名 */
.anonymous_box{
    width: 100%;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    height: 0.8rem;
    line-height: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.anonymous_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.anonymous_left img{
    width: 0.38rem;
    height: 0.38rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}
.anonymous_p{
    color: #333333;
    font-size: 0.28rem;
}
.anonymous_right{
    color: #bababa;
    font-size: 0.24rem;
}



/* 店铺评分 */
.shop_score_box{
    width: 100%;
    padding-top: 0.2rem;
}
.shop_score_title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 0.3rem;
    padding-left: 0.1rem;
    box-sizing: border-box;
}
.shop_score_title img{
    width: 0.36rem;
    height: 0.37rem;
    margin-right: 0.1rem;
}
.shop_score_title p{
    color: #333333;
    font-size: 0.28rem;
}
.score{
    border-bottom: 0;
    margin-bottom: 0.2rem;
}