body,html{background: #f5f4f7;}
.con{
    padding-top: 1rem;
}
.transport{
    height: 100%;
    padding-left: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* 图片 */
.transport_img{
    width: 0.68rem;
    height: 0.68rem;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 0.1rem;
}
.transport_img img{
    width: 100%;
    height: 100%;
}
.transport p{
    color: #333333;
    font-size: 0.32rem;
}

/* 物流客服 */
.logistics_service{
    position: absolute;
    right: 0.3rem;
    top: 0;
    height: 100%;
    display: block;
    width: auto;
    color: #999999;
    font-size: 0.24rem;
}


/* 物流商 */
.logistics_merchant_box{
    width: 100%;
    padding: 0.25rem 0rem 0.2rem 0.6rem;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 0.1rem;
}
.logistics_merchant{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}
.logistics_merchant_left{
    width: 0.68rem;
    height: 0.68rem;
    border-radius: 100%;
    overflow: hidden;
    font-size: 0;
}
.logistics_merchant_left img{
    width: 100%;
    height: 100%;
}
.logistics_merchant_right{
    padding-left: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logistics_merchant_name{
    color: #333333;
    font-size: 0.28rem;
    margin-bottom: 0.08rem;
}
.logistics_merchant_tel{
    color: #333333;
    font-size: 0.24rem;
}
.logistics_merchant_p{
    color: #333333;
    font-size: 0.24rem;
}