body,html{
    width: 100%;
    height: 100%;
    background: #f5f4f7;
}

.con{
    width: 100%;
    padding-top: 1rem;
    /* margin-bottom: 1.3rem; */
}
.replace_ul{
    width: 100%;
    background: #fff;
}
.replace_li{
    width: 100%;
    height: 1rem;
    padding: 0rem 0.4rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    font-size: 0;
}
.replace_input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 0.28rem;
    color: #333333;
}
/* 当前手机号 */
.this_phone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.this_phone p{
    color: #333333;
    font-size: 0.28rem;
}
.this_phone p:nth-of-type(2){
    color: #999999;
}

/* 获取验证码 */
.code{
    width: 70%;
    float: left;
}
.get_code{
    float: right;
    color: #333333;
    font-size: 0.24rem;
    display: block;
    line-height: 0.6rem;
    padding: 0rem 0.2rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 0.2rem;
}



/* 更换按钮 */
.confirm{
    width: 90%;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    border-radius: 5px;
    background: #bfbfbf;
    margin: 0 auto;
    color: #fff;
    font-size: 0.32rem;
}