body,html{background: #f5f4f7;}

.con{
    padding-top: 1.1rem;
    padding-bottom: 0rem;
}

/* 顶部奖励 */
.top_reward{
    width: 100%;
    height: 1.2rem;
    overflow: hidden;
    background: #fff;
}
.top_reward_left,.top_reward_right{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_reward_title{
    color: #333333;
    font-size: 0.28rem;
}
.top_reward_p{
    color: #fd5a39;
    font-size: 0.32rem;
}
.top_reward_p span{
    color: #333333;
    font-size: 0.32rem;
}


/* 奖励明细 */
.reward_Detailed{
    width: 100%;
    background: #fff;
}
.Detailed_title{
    width: 100%;
    color: #333333;
    font-size: 0.32rem;
    height: 1.6rem;
    line-height: 1.6rem;
    padding-left: 0.4rem;
    box-sizing: border-box;
}
/* 内容 */
.Detailed_ul{
    width: 100%;
    overflow: auto;
}
.Detailed_li{
    width: 100%;
    height: 1rem;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
}
.Detailed_div{
    width: 100%;
    height: 100%;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    overflow: hidden;
}

/* 用户 */
.user{
    width: 45%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.user_img{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
    overflow: hidden;
    font-size: 0;
    margin-right: 0.1rem;
}
.user_img img{
    width: 100%;
    height: 100%;
}
.user_information{
    width: 75%;
}
.user_name{
    color: #333333;
    font-size: 0.24rem;
    margin-bottom: 0.12rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.user_phone{
    color: #999999;
    font-size: 0.24rem;
}

/* 时间  类型 */
.time{
    width: 45%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time p{
    color: #666666;
    font-size: 0.24rem;
}
.type{margin-bottom: 0.12rem;}


/* 奖励 */
.reward_money{
    width: 10%;
    height: 100%;
    line-height: 1rem;
    text-align: center;
    color: #333333;
    font-size: 0.28rem;
    float: left;
}