.search_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.search{
    width: 70%;
    height: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.7rem;
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
}
.search_img{
   width: 15%;
   height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0;
    position: relative;
}
.search_img img{
    width: 0.32rem;
    height: 0.33rem;
}
.search_input{
    width: 85%;
    height: 100%;
    outline: none;
    border: none;
    background: #eee;
    font-size: 0.24rem;
    position: relative;
    padding-left: 0.1rem;
}
.search_img::after{
    content: "";
    position: absolute;
    width: 0.03rem;
    height: 0.3rem;
    top: 0.15rem;
    right: 0;
    background: #84a539;
}
/* 搜索 */
.search_p{
    color: #333333;
    font-size: 0.24rem;
    padding: 0rem 0.2rem;
}


/* 内容 */
.con{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0rem;
    box-sizing: border-box;
}

/* 搜索历史 */
.search_history{
    width: 100%;
    margin-bottom: 0.65rem;
    padding: 0rem 0.2rem;
    box-sizing: border-box;
}
.search_history_title{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search_history_p{
    color: #333333;
    font-size: 0.32rem;
    font-weight: bold;
}

/* 右边 */
.search_history_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.search_history_right img{
    width: 0.38rem;
    height: 0.38rem;
}
.search_history_right p{
    color: #999999;
    font-size: 0.22rem;
    margin-left: 0.1rem;
    /* font-weight: bold; */
}

/* 搜索 记录 */
.search_Record_box{
    width: 100%;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:wrap;
    border-bottom: 1px solid #eee;
}
.search_Record{
    width: auto;
    color: #999999;
    font-size: 0.28rem;
    line-height: 0.5rem;
    padding: 0rem 0.2rem;
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}



/* 推荐商品 */
.Recommend_shop_box{
    width: 100%;
}
/* title */
.Recommend_shop_title{
    width: 100%;
    color: #333333;
    font-size: 0.32rem;
    padding-left: 0.2rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    line-height: 0.5rem;
    margin-bottom: 0.2rem;
}

.recommend_money{
    font-size: 0;
}


/* 底线 */
.baseline{
    background: #fff;
}