.nav_list:nth-of-type(5) a{
    color: #e60012;
}
.nav_list:nth-of-type(1) a{
    color: #fff;
}

.conbox{
    width: 100%;
    padding-bottom: 20px;
    background: #fdfdfd;
}

.conbox .container{
    padding-top: 0px;
}
.aboutbox .row{
    margin-left: 0;
    margin-right: 0;
}

/* 顶部图片 */
.about_topbox{
    margin-bottom: 20px;
}
.about_topimg img{
    width: 100%;
    height: 500px;
}

/* 关于我们 */

.about_titbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #62000d;
}
.about_titbox img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.about_titbox span{
    color: #202020;
    font-size: 24px;
}
.aboutbox .row:first-child{
    margin-bottom: 15px;
}


/* 关于我们  内容 */
.about_tit_conimg img{
    width: 100%;
}
.about_tit_conimg{
    padding-left: 30px;
}
.about_p{
    padding-top: 20px;
}
.about_p P{
    color: #202020;
    font-family: "宋体";
    font-size: 16px;
    line-height: 30px;
    text-indent: 2em;
    margin: 0;
}


/* 公司文化 */
.about_titbox.culture img{
    width: 37px;
    height: 37px;
}

.col-lg-6.us_p{
    padding-left: 40px;
    padding-top: 50px;
}
.us_p p{
    color: #202020;
    font-size: 16px;
    font-family: "宋体";
    line-height: 36px;
    margin: 0;
}


.us_imgbox{
    width: 100%;
}
.su_img img{
    width: 100%;
}
