.nav_list:nth-of-type(2) a{
    color: #e60012;
}
.nav_list:nth-of-type(1) a{
    color: #fff;
}

/* 内容区 */
.conbox{
    width: 100%;
    padding: 20px 80px 90px 80px;
    background: #fdfdfd;
}
.conbox .container-fluid{
    padding: 0;
}
.topbox{
    margin-bottom: 30px;
}
.shopimg_box{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 25px;
}
.shopimg{
    width: 100%;
}
.shop_p{
    width: 100%;
    padding: 0px 45px;
}
.shop_p P{
    color: #1d1d1d;
    font-size: 18px;
    font-family: "新宋体";
    font-weight: 600;
    margin: 0;
}
.shop_con p{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    border-bottom: 1px solid #9c9c9c;
    padding-bottom: 8px;
    line-height: 40px;
    /* text-decoration: underline !important; */
}

.bottombox img{
    height: 565px;
}
.bottomp{
    padding: 0px 20px;
}



